{% extends "layout.html" %}
{% block content %}	
	<div class="content-section">
	  	<div class="media">
		    <img class="rounded-circle account-img" src="{{ image_file }}">
		    <div class="media-body">
			    <h2 class="account-heading">{{ user.username }}</h2>
			    <p class="text-secondary">{{ user.email }} - <b>{{ user.role }}</b></p>
		    </div>
		    {% if current_user.username == user.username %}
		    	<a class="btn btn-outline-info btn-sm m-1" href="{{ url_for('users.logout') }}">Cerrar sesión</a>
		    {% endif %}
	  	</div>
	  	<!-- 'multipart/form-data' permite no errores al importar imagen -->
		<form method='POST' action="" enctype="multipart/form-data"> <!-- action= when we post go back to same route-->
			{{ form.hidden_tag() }} <!-- part of protection -->
			<fieldset class="form-group">
				<legend class="border-bottom mb-4">Información de cuenta</legend>
				<div id="username" class="form-group" autofocus>
					{{ form.username.label(class="form-control-label") }}
					{% if form.username.errors %}
						{{ form.username(class="form-control form-control-lg is-invalid") }}
						<div class="invalid-feedback">
							{% for error in form.username.errors %}
								<span>{{ error }}</span>
							{% endfor %}
						</div>
					{% else %}
						{{ form.username(class="form-control form-control-lg") }}
					{% endif %}
				</div>
				<div id="email" class="form-group">					
					{{ form.email.label(class="form-control-label") }}					
					{% if form.email.errors %}
						{{ form.email(class="form-control form-control-lg is-invalid") }}
						<div class="invalid-feedback">
							{% for error in form.email.errors %}
								<span>{{ error }}</span>
							{% endfor %}
						</div>
					{% else %}
						{{ form.email(class="form-control form-control-lg") }}
					{% endif %}
				</div>				
				<div class="form-group">					
					{{ form.role.label(class="form-control-label") }}					
					{% if form.role.errors %}
						{{ form.role(class="form-control form-control-lg is-invalid") }}
						<div class="invalid-feedback">
							{% for error in form.role.errors %}
								<span>{{ error }}</span>
							{% endfor %}
						</div>
					{% else %}
						 {% if current_user.role != "Admin" %}
				            {{ form.role(class="form-control form-control-lg", disabled=True) }}
				        {% else %}
				            {{ form.role(class="form-control form-control-lg") }}
				        {% endif %}
				    {% endif %}	
				</div>
				<p></p>
				<div id="picture" class="form-group">
					{{ form.picture.label() }}
					{{ form.picture(class="form-control-file") }}
					{% if form.picture.errors %}
						{% for error in form.picture.errors %}
							<span class="text-danger">{{ error }}</span></br>)
						{% endfor %}
					{% endif %}
				</div>
			</fieldset>
			<div id="submit" class="form-group">
				{{ form.submit(class="btn btn-outline-info") }}
			</div>			
		</form>
	</div>
{% endblock content %}