{% extends "layout.html" %}
{% block content %}
    <h6 class="border-bottom border-secondary mb-4">Procedimientos técnicos ({{ lista.count() }})</h6>        
    {% for procedimiento in lista %}
       <div class="content-section-list">
            <a title="{{ procedimiento.content }}" href="{{ url_for('procedimientos.procedimiento', procedimiento_id=procedimiento.id) }}" >
                <div class="container"> 
                    <div class="row">                         
                        <div class="col-md-9">
                            <h2 >{{ procedimiento }}</h2>                            
                            <small class="article-title">Modificado: {{ procedimiento.date_modified }}</small>
                        </div>                    
                    </div>
                </div>
            </a>
        </div>
    {% endfor %}
    
{% endblock content %}
