{% extends "layout.html" %}
{% block content %}
    <h6 class="border-bottom border-secondary mb-4">Órdenes de reparación ({{ lista.count() }})</h6>
    {% for orden_reparacion in lista %}
        <article class="media content-section-list">
            <div class="row">
                <div class="col-md-10">
                  	<div class="media-body">
                    	<a title="{{ orden_reparacion.detalles_reparacion }}" class="article-title" href="{{ url_for('ordenes_reparacion.orden_reparacion', orden_reparacion_id=orden_reparacion.id, orderBy='date_created', OrderOrder='Desc') }}">
                            <h2>{{ orden_reparacion.codigo }}</h2>
                    	    <h6 class="article-title">{{ orden_reparacion.content }}</h6>
                            <small>{{ orden_reparacion.equipo.title }}</small>
                            {% if orden_reparacion.tecnicoAsignado %}
                                <small>Equipo: <b>{{ orden_reparacion.equipo.modelo }}</b> Técnico asignado: <b>{{ orden_reparacion.tecnicoAsignado.username }}</b></small>
                            {% endif %}
                        </a>
                    </div>
                </div>
                <div class="col-md-2 text-end">
                    <div class="d-grid">
                        <a class="btn btn-{% if orden_reparacion.estado.descripcion == 'Creada' %}warning
                                          {% elif orden_reparacion.estado.descripcion == 'Asignada' %}success
                                          {% elif orden_reparacion.estado.descripcion == 'Anulada' %}dark
                                          {% elif orden_reparacion.estado.descripcion == 'Resuelta' %}secondary
                                          {% endif %} btn-block btn-sm"
                                          href="{{ url_for('equipments.equipment',  equipment_id=orden_reparacion.equipo.id) }}",
                                          title="Ir al equipo {{ orden_reparacion.equipo.modelo }}">
                                          {{ orden_reparacion.estado.descripcion }}
                        </a>
                    </div>
                </div>
            </div>
        </article>
    {% endfor %}
    
{% endblock content %}
