{% extends "layout.html" %}
{% block content %}
    <h6 class="border-bottom border-secondary mb-4">Modelos de equipos ({{ lista.count() }})</h6>        
    {% for modelo in lista %}
        <article class="media content-section-list">
            <div class="media-body">
                <div class="row"> 
                    <div class="col-md-3">
                        <div class="img-container">
                            <a href="#" onclick="abrirImagen('{{ image_path+modelo.image_file }}'); return false;">
                                <img class="rounded-3 account-img" src="{{ image_path+modelo.image_file }}" alt="Imagen"  loading='async'/>
                                <div class="overlay">
                                    <div class="overlay-content">Abrir Imagen</div>
                                </div>
                            </a>
                        </div>                            
                    </div>
                    <div class="col-md-9">
                        <a title="marca: {{ modelo.marca }}" class="article-title" href="{{ url_for('modelos.modelo', modelo_id=modelo.id) }}" >
                            <h2 >{{ modelo }}</h2>
                            <h5 >{{ modelo.marca }} {{ modelo.descripcion }}</h5>
                            <small class="article-title">Modificado: {{ modelo.date_modified }}</small>
                        </a>
                    </div>                    
                </div>
            </div>            
        </article>
    {% endfor %}
    
{% endblock content %}
