{% extends "layout.html" %}
{% block content %}
    <h6 class="border-bottom border-secondary mb-4">Clientes ({{ lista.count() }})</h6>

    {% for client in lista %}
        <article class="media content-section-list">            
          	<div class="media-body">
                <div class="row">
                    <div class="col-md-11">
                        <a class="article-title" href="{{ url_for('clients.client', client_id =client.id) }}">                        
                            <h2>{{ client.id }} - {{ client.nombre }} {{ client.apellido }}</h2>
                            <h6 class="article-title" >Razón social: <b>{{ client.business_name }}</b></h6>
                            <small class="article-title" >Teléfono: <b>{{ client.telefono }}</b></small>
                        </a>
                    </div>
                    <div class="col-md-1">
                        <a class="bi bi-search btn btn-outline-light btn-sm mt-1 mb-1" title="Ver los equipos del cliente" href="{{ url_for('clients.client_equipments', client_id=client.id) }}"></a>
                    </div>
                </div>
            </div>            
        </article>
    {% endfor %}
    
{% endblock content %}