{% extends "layout.html" %}
{% block content %}
    <h6 class="border-bottom border-secondary mb-4">Equipos ({{ lista.count() }})</h6>
 
    {% for equipment in lista %}
        <article class="media content-section-list">
            <div class="media-body">
                <div class="row">                    
                    <div class="col-md-3"> 
                        <div class="img-container">
                            <a href="#" onclick="abrirImagen('{{ image_path+equipment.modelo.image_file }}'); return false;">
                                <img class="rounded-3 account-img" src="{{ image_path+equipment.modelo.image_file }}" alt="Imagen" />
                                <div class="overlay">
                                  <div class="overlay-content">Abrir Imagen</div>
                                </div>
                              </a>
                        </div>
                    </div>
                    <div class="col-md-8">
                    <a class="article-title" href="{{ url_for('equipments.equipment', equipment_id=equipment.id) }}">
                        <h2>{{ equipment.modelo }}</h2>
                        <h6 class="article-title" href=""><b>{{ equipment.frecuencia_eq.canal }} {{ equipment.frecuencia_eq.rango }} </b>- Nº serie: <b>{{ equipment.numSerie }}</b></h6>
                        <small>
                            Cliente: <b>{{ equipment.owner.nombre }} {{ equipment.owner.apellido }}</b> - Año fabricación: <b>{{ equipment.anio }}</b>
                            <h6 class="article-title">Última modificación: <b>{{ equipment.date_modified.strftime('%d-%m-%Y') }}</b></h6>
                        </small>
                        </a>
                    </div>
                    <div class="col-md-1">
                        <a class="bi bi-chat btn btn-outline-light" title="Añadir Historia" href="{{ url_for('historias.add_historia', equipment_id = equipment.id) }}"></a>
                    </div>
                </div> 
            </div>
        </article>
    {% endfor %}
    
{% endblock content %}