{% extends "layout.html" %}
{% block content %}
    <h2>Cuentas de usuarios</h2>
    <hr 80%>
    {% set pages = all_users.iter_pages(left_edge=1, right_edge=1, left_current=1, right_current=2) | list %}
    {% if pages|length > 1 %}
        {% for page_num in pages %}
            {% if page_num %}
                {% if all_users.page == page_num %}
                    <a class="btn btn-info mb-4" href="{{ url_for('users.all_users', page=page_num) }}">{{ page_num }}</a>
                {% else %}
                    <a class="btn btn-outline-info mb-4" href="{{ url_for('users.all_users', page=page_num) }}">{{ page_num }}</a>
                {% endif %}
            {% else %}
            ...
            {% endif %}
        {% endfor %}
    {% endif %}    
    {% for user in all_users.items %}
       <div class="content-section">
            <a href="{{ url_for('users.account', user_id=user.id) }}" >
                <div class="container"> 
                    <div class="row"> 
                        <div class="col-md-3"> 
                            <img class="rounded-circle account-img" src="{{image_path+user.image_file }}">
                        </div>
                        <div class="col-md-9">
                            <h4 class="account-heading" >{{ user.username }}</h4>                            
                            <h5>{{ user.role }}</h5>
                            <h6 class="text">{{ user.email }}</h6>
                        </div>                    
                    </div>
                </div>
            </a>
        </div>
    {% endfor %}
    {% if pages|length > 1 %}
        {% for page_num in pages %}
            {% if page_num %}
                {% if all_users.page == page_num %}
                    <a class="btn btn-info mb-4" href="{{ url_for('users.all_users', page=page_num) }}">{{ page_num }}</a>
                {% else %}
                    <a class="btn btn-outline-info mb-4" href="{{ url_for('users.all_users', page=page_num) }}">{{ page_num }}</a>
                {% endif %}
            {% else %}
                ...
            {% endif %}
        {% endfor %}
    {% endif %}
{% endblock content %}