{% extends "layout.html" %}

{% block content %}
	<div class='content-section'>
		<form method='POST' action="" enctype='multipart/form-data'> <!-- action= when we post go back to same route-->
			{{ form.hidden_tag() }} <!-- part of protection -->
			<fieldset class="form-group">
				<legend class="border-bottom mb-4">{{ legend }}</legend>
				<div class="row">
					<div class="col-md-6">
						<div class="form-group">
							{{ form.detalle_trabajo.label(class="form-control-label") }}<span class="red"> *</span>
							{% if form.detalle_trabajo.errors %}
								{{ form.detalle_trabajo(class="form-control form-control-sm is-invalid") }}
								<div class="invalid-feedback">
									{% for error in form.detalle_trabajo.errors %}
										<span>{{ error }}</span>
									{% endfor %}
								</div>
							{% else %}
								{{ form.detalle_trabajo(id="detalle_trabajo", class="select2 form-select form-select-sm", title="Todo equipo debe estar asociado a un detalle de orden de trabajo") }}
							{% endif %}
						</div>

						<div class="form-group">
							{{ form.modelo.label(class="form-control-label") }}<span class="red"> *</span>			
							{% if form.modelo.errors %}
								{{ form.modelo(class="form-control form-control-sm is-invalid") }}
								<div class="invalid-feedback">
									{% for error in form.modelo.errors %}
										<span>{{ error }}</span>
									{% endfor %}
								</div>
							{% else %}
								{{ form.modelo(id="modelo", class="select2 form-select form-select-sm", title="Seleccione el modelo de equipo según lo descripto en el Detalle de orden de trabajo") }}
							{% endif %}
						</div>
						<div class="row">
							<div class="col-md-8">
								<div class="form-group">
									{{ form.frecuencias.label(class="form-control-label") }}					
									{% if form.frecuencias.errors %}
										{{ form.frecuencias(class="form-control form-control-sm is-invalid") }}
										<div class="invalid-feedback">
											{% for error in form.frecuencias.errors %}
												<span>{{ error }}</span>
											{% endfor %}
										</div>
									{% else %}
										{{ form.frecuencias(class="select2 form-select form-select-sm", title="Seleccione uno o varios canales") }}
									{% endif %}
								</div>
								
							</div>
							<div class="col-md-4">
								<div class="form-group">
									{{ form.numSerie.label(class="form-control-label") }}
									{% if form.numSerie.errors %}
										{{ form.numSerie(class="form-control form-control-sm is-invalid") }}
										<div class="invalid-feedback">
											{% for error in form.numSerie.errors %}
												<span>{{ error }}</span>
											{% endfor %}
										</div>
									{% else %}
										{{ form.numSerie(class="form-control form-control-sm form-control-font-size-sm", placeholder="1/1234", title="Solo completar para equipos LIECOM / IA (ej: 1/1234)") }}
									{% endif %}
								</div>										
							</div>
						</div>				
						
						
					</div>
					<div class="col-md-6">								
						<div class="form-group">
							{{ form.anio.label(class="form-control-label") }}<span class="red"> *</span>
							{% if form.anio.errors %}
								{{ form.anio(class="form-control form-control-sm is-invalid") }}
								<div class="invalid-feedback">
									{% for error in form.anio.errors %}
										<span>{{ error }}</span>
									{% endfor %}
								</div>
							{% else %}
								{{ form.anio(class="select2 form-select form-select-sm", title="Año de fabricación, compra o entrega del equipo") }}
							{% endif %}
						</div>
						<div class="form-group">
							{{ form.sistema.label(class="form-control-label") }}					
							{% if form.sistema.errors %}
								{{ form.sistema(class="form-control form-control-sm is-invalid") }}
								<div class="invalid-feedback">
									{% for error in form.sistema.errors %}
										<span>{{ error }}</span>
									{% endfor %}
								</div>
							{% else %}
								{{ form.sistema(id="sistema", class="select3 form-control form-control-sm", title="Nombre del Sistema para agrupar equipos dentro de la O.T.") }}
							{% endif %}
						</div>
						
						<div class="form-group">
							{{ form.upload_files.label(class="form-control-label") }}					
							{% if form.upload_files.errors %}
								{{ form.upload_files(class="form-control form-control-sm is-invalid") }}
								<div class="invalid-feedback">
									{% for error in form.upload_files.errors %}
										<span>{{ error }}</span>
									{% endfor %}
								</div>
							{% else %}
								{{ form.upload_files(class="form-control form-control-sm", type="file", multiple="true") }}
							{% endif %}
						</div>
						
					</div>
					<div class="form-group">
							<!-- boottrap  -->
							{{ form.content.label(class="form-control-label") }}
							<!-- errores de entrada  -->
							{% if form.content.errors %}
								{{ form.content(class="form-control form-control-sm is-invalid") }}
								<div class="invalid-feedback">
									{% for error in form.content.errors %}
										<span>{{ error }}</span>
									{% endfor %}
								</div>
							{% else %}
								{{ form.content(class="form-control form-control-sm", rows='5') }}
							{% endif %}
					</div>
				</div>
			</fieldset>
			<br>
			<div class="form-group">				
				{{ form.submit(class="btn btn-outline-info") }}
			</div>
		</form>
	</div>
	<script src="{{ url_for('static', filename='js/select_to_null.js') }}"></script>
	<script src="{{ url_for('static', filename='js/load_sistemas_select.js') }}"></script>
	<script>
		$(document).ready(function() {
			limpiarSeleccion('#modelo');
			limpiarSeleccion('#detalle_trabajo');
			
			// carga valores del select SISTEMA cuando inicia excepto si no hay detalle_trabajo seleccionado
			if(document.querySelector('#detalle_trabajo option:checked')){
				let dt_id = document.querySelector('#detalle_trabajo option:checked').value;				
				cargar_select_sistemas(dt_id)
			}				
					
			// carga valores del select SISTEMA cuando cambia de valor
			$("#detalle_trabajo").change(function(){
				let dt_id = document.querySelector('#detalle_trabajo option:checked').value;
				// vacia de elemntos previo
				$('#sistema').empty();
				// agrega NULL NULL para que no exista una seleccion automatica del 1er elemento
				$('#sistema').append($("<option>", { value:null,  text: null }));
				cargar_select_sistemas(dt_id)
			});
		});		
	</script>

{% endblock content %}
