{% extends "layout.html" %}


{% block content %}
	<div class='content-section'>
		<form method='POST' action="" enctype="multipart/form-data"> <!-- action= when we post go back to same route-->
			{{ form.hidden_tag() }} <!-- part of protection -->
			<fieldset class="form-group">
				<legend class="border-bottom mb-4">Registrar nuevo modelo de equipo</legend>
				<div class="form-group">
					<!-- boottrap  -->
					{{ form.nombre.label(class="form-control-label") }}
					<!-- errores de entrada  -->
					{% if form.nombre.errors %}
						{{ form.nombre(class="form-control form-control is-invalid") }}
						<div class="invalid-feedback">
							{% for error in form.nombre.errors %}
								<span>{{ error }}</span>
							{% endfor %}
						</div>
					{% else %}
						{{ form.nombre(class="form-control form-control") }}
					{% endif %}
				</div>
				<div class="form-group">
					<!-- boottrap  -->
					{{ form.anio.label(class="form-control-label") }}
					<!-- errores de entrada  -->
					{% if form.anio.errors %}
						{{ form.anio(class="form-control form-control is-invalid") }}
						<div class="invalid-feedback">
							{% for error in form.anio.errors %}
								<span>{{ error }}</span>
							{% endfor %}
						</div>
					{% else %}
						{{ form.anio(class="form-control form-control") }}
					{% endif %}
				</div>
				<div class="form-group">
					{{ form.descripcion.label(class="form-control-label") }}
					{% if form.descripcion.errors %}
						{{ form.descripcion(class="form-control form-control is-invalid") }}
						<div class="invalid-feedback">
							{% for error in form.descripcion.errors %}
								<span>{{ error }}</span>
							{% endfor %}
						</div>
					{% else %}
						{{ form.descripcion(class="form-control form-control") }}
					{% endif %}
				</div>
				<div id="picture" class="form-group">
					{{ form.picture.label() }}
					{% if form.picture.errors %}
						{{ form.picture(class="form-control form-control-sm is-invalid") }}
						<div class="invalid-feedback">
							{% for error in form.picture.errors %}
								<span>{{ error }}</span>
							{% endfor %}
						</div>
					{% else %}
						{{ form.picture(class="form-control form-control-sm", type="file") }}
					{% endif %}					
				</div>
			</fieldset>
			<br>
			<div class="form-group">
				<!-- boottrap for the submit button  -->
				{{ form.submit(class="btn btn-outline-info") }}
			</div>
		</form>
	</div>
{% endblock content %}