{% extends "layout.html" %}
{% block content %}

	<div class='content-section'>
		<form method='POST' action=""> <!-- action= when we post go back to same route-->
			{{ form.hidden_tag() }} <!-- part of protection -->
			<fieldset class="form-group">
				<legend class="border-bottom mb-4">{{ legend }}</legend>
				<div class="row">
					<div class="col-md-6">
						<div class="form-group" autofocus>
							<!-- boottrap  -->
							{{ form.nombre.label(class="form-control-label") }}<span class="red"> *</span>
							<!-- errores de entrada  -->
							{% if form.nombre.errors %}
								{{ form.nombre(class="form-control form-control-sm is-invalid") }}
								<div class="invalid-feedback">
									{% for error in form.nombre.errors %}
										<span>{{ error }}</span>
									{% endfor %}
								</div>
							{% else %}
								{{ form.nombre(class="form-control form-control-sm", tabindex="1") }}
							{% endif %}
						</div>						
						<div class="form-group">
							{{ form.email.label(class="form-control-label") }}					
							{% if form.email.errors %}
								{{ form.email(class="form-control form-control-sm is-invalid") }}
								<div class="invalid-feedback">
									{% for error in form.email.errors %}
										<span>{{ error }}</span>
									{% endfor %}
								</div>
							{% else %}
								{{ form.email(class="form-control form-control-sm", tabindex="3") }}
							{% endif %}
						</div>
						<div class="form-group">
							<!-- boottrap  -->
							{{ form.comments.label(class="form-control-label") }}
							<!-- errores de entrada  -->
							{% if form.comments.errors %}
								{{ form.comments(class="form-control form-control-sm is-invalid") }}
								<div class="invalid-feedback">
									{% for error in form.comments.errors %}
										<span>{{ error }}</span>
									{% endfor %}
								</div>
							{% else %}
								{{ form.comments(class="form-control form-control-sm", rows='2', tabindex="5") }}
							{% endif %}
						</div>
					</div>
					<div class="col-md-6">
						<div class="form-group">
							<!-- boottrap  -->
							{{ form.apellido.label(class="form-control-label") }}<span class="red"> *</span>
							<!-- errores de entrada  -->
							{% if form.apellido.errors %}
								{{ form.apellido(class="form-control form-control-sm is-invalid") }}
								<div class="invalid-feedback">
									{% for error in form.apellido.errors %}
										<span>{{ error }}</span>
									{% endfor %}
								</div>
							{% else %}
								{{ form.apellido(class="form-control form-control-sm", tabindex="2") }}
							{% endif %}
						</div>						
						<div class="form-group">
							{{ form.telefono.label(class="form-control-label") }}
							{% if form.telefono.errors %}
								{{ form.telefono(class="form-control form-control-sm is-invalid") }}
								<div class="invalid-feedback">
									{% for error in form.telefono.errors %}
										<span>{{ error }}</span>
									{% endfor %}
								</div>
							{% else %}
								{{ form.telefono(class="form-control form-control-sm", tabindex="4") }}
							{% endif %}
						</div>
					</div>
					
					<div class="row">
						<div class="btn-group-toggle" data-toggle="buttons">
							<button class="btn btn-sm" type="button" , tabindex="6", data-toggle="collapse" data-target="#collapseEmpresa, #collapseDomicilio" aria-expanded="false" aria-controls="collapseEmpresa collapseDomicilio" id="buttonCollapseCliente">INFORMACIÓN ADICIONAL</button>							
						</div>				
						<div class="col-md-6">
							<div class="collapse" id="collapseDomicilio">
								<label for="collapseDomicilio">Domicilio</label>
								<div class="card card-body bg-secondary mb-3">
									<div class="form-group">
										<!-- boottrap  -->
										{{ form.codigo_postal.label(class="form-control-label") }}
										<!-- errores de entrada  -->
										{% if form.codigo_postal.errors %}
											{{ form.codigo_postal(class="form-control form-control-sm is-invalid") }}
											<div class="invalid-feedback">
												{% for error in form.codigo_postal.errors %}
													<span>{{ error }}</span>
												{% endfor %}
											</div>
										{% else %}
											{{ form.codigo_postal(class="form-control form-control-sm", placeholder="Ingresar C.P. primero", tabindex="7") }}
										{% endif %}
									</div>
									<div class="form-group">
										<!-- boottrap  -->
										{{ form.domicilio.label(class="form-control-label") }}
										<!-- errores de entrada  -->
										{% if form.domicilio.errors %}
											{{ form.domicilio(class="form-control form-control-sm is-invalid") }}
											<div class="invalid-feedback">
												{% for error in form.domicilio.errors %}
													<span>{{ error }}</span>
												{% endfor %}
											</div>
										{% else %}
											{{ form.domicilio(class="form-control form-control-sm", tabindex="8") }}
										{% endif %}
									</div>
									<div class="form-group">
										<!-- boottrap  -->
										{{ form.localidad.label(class="form-control-label") }}
										<!-- errores de entrada  -->
										{% if form.localidad.errors %}
											{{ form.localidad(class="form-control form-control-sm is-invalid") }}
											<div class="invalid-feedback">
												{% for error in form.localidad.errors %}
													<span>{{ error }}</span>
												{% endfor %}
											</div>
										{% else %}
											{{ form.localidad(class="form-control form-control-sm", tabindex="9") }}
										{% endif %}
									</div>
									<div class="form-group">
										<!-- boottrap  -->
										{{ form.provincia.label(class="form-control-label") }}
										<!-- errores de entrada  -->
										{% if form.provincia.errors %}
											{{ form.provincia(class="form-control form-control-sm is-invalid") }}
											<div class="invalid-feedback">
												{% for error in form.provincia.errors %}
													<span>{{ error }}</span>
												{% endfor %}
											</div>
										{% else %}
											{{ form.provincia(class="form-control form-control-sm", tabindex="10") }}
										{% endif %}
									</div>
									<div class="form-group">
										<!-- boottrap  -->
										{{ form.pais.label(class="form-control-label") }}
										<!-- errores de entrada  -->
										{% if form.pais.errors %}
											{{ form.pais(class="form-control form-control-sm is-invalid") }}
											<div class="invalid-feedback">
												{% for error in form.pais.errors %}
													<span>{{ error }}</span>
												{% endfor %}
											</div>
										{% else %}
											{{ form.pais(class="form-control form-control-sm", tabindex="11") }}
										{% endif %}
									</div>
								</div>								
							</div>
						</div>
						<div class="col-md-6">							
							<div class="collapse" id="collapseEmpresa">
								<label for="collapseEmpresa">Empresa</label>
								<div class="card card-body bg-secondary mb-3">
									<div class="form-group">
										{{ form.business_name.label(class="form-control-label") }}	
										{% if form.business_name.errors %}
											{{ form.business_name(class="form-control form-control-sm is-invalid") }}
											<div class="invalid-feedback">
												{% for error in form.business_name.errors %}
													<span>{{ error }}</span>
												{% endfor %}
											</div>
										{% else %}
											{{ form.business_name(class="form-control form-control-sm", tabindex="12") }}
										{% endif %}
									</div>
									<div class="form-group">					
										{{ form.cuit.label(class="form-control-label") }}					
										{% if form.cuit.errors %}
											{{ form.cuit(class="form-control form-control-sm is-invalid") }}
											<div class="invalid-feedback">
												{% for error in form.cuit.errors %}
													<span>{{ error }}</span>
												{% endfor %}
											</div>
										{% else %}
											{{ form.cuit(class="form-control form-control-sm", tabindex="13", id="cuit_input", placeholder="ingresar solo números, sin guiones",oninput="handleInput()") }}
										{% endif %}
									</div>
									<div class="form-group">					
										{{ form.cond_fiscal.label(class="form-control-label") }}					
										{% if form.cond_fiscal.errors %}
											{{ form.cond_fiscal(class="form-control form-control-sm is-invalid") }}
											<div class="invalid-feedback">
												{% for error in form.cond_fiscal.errors %}
													<span>{{ error }}</span>
												{% endfor %}
											</div>
										{% else %}
											{{ form.cond_fiscal(class="form-select form-select-sm custom-select", tabindex="14" ) }}
										{% endif %}
									</div>
								</div>
							</div>
						</div>						
					</div>
				</div>
			</fieldset>
			<br>
			<div class="form-group">
				<!-- boottrap for the submit button  -->
				{{ form.submit(class="btn btn-outline-info", tabindex="15") }}
			</div>
		</form>
	</div>	
	<script>
		const inputElement = document.getElementById('cuit_input');			

			inputElement.addEventListener('input', function() {
			const inputValue = this.value;
			
			// Agregamos las clases CSS según la cantidad de dígitos ingresados
			if (inputValue.length === 11) {
				inputElement.classList.remove('input-red');
				inputElement.classList.add('input-green');
			} else if (inputValue.length > 11 ||  inputValue.length < 11) {
				inputElement.classList.remove('input-green');
				inputElement.classList.add('input-red');
			} else {
				inputElement.classList.remove('input-green', 'input-red');
			}
			});

	</script>

{% endblock content %}