{% extends "layout.html" %}

{% block content %}
	<div class='content-section'>
		<form method='POST' action="" enctype="multipart/form-data"> <!-- action= when we post go back to same route-->
			{{ form.hidden_tag() }} <!-- part of protection -->
			<fieldset class="form-group">
				<legend class="border-bottom mb-4">Registrar nuevo código Homologación</legend>
				<div class="row">
					<div class="col-md-6">
						<div class="form-group" autofocus>
							<!-- boottrap  -->
							{{ form.codigo.label(class="form-control-label") }}<span class="red"> *</span>
							<!-- errores de entrada  -->
							{% if form.codigo.errors %}
								{{ form.codigo(class="form-control form-control is-invalid") }}
								<div class="invalid-feedback">
									{% for error in form.codigo.errors %}
										<span>{{ error }}</span>
									{% endfor %}
								</div>
							{% else %}
								{{ form.codigo(class="form-control form-control") }}
							{% endif %}
						</div>
					</div>
					<div class="col-md-6">
						<div class="form-group">
							<!-- boottrap  -->
							{{ form.modelo.label(class="form-control-label") }}<span class="red"> *</span>
							<!-- errores de entrada  -->
							{% if form.modelo.errors %}
								{{ form.modelo(class="form-control form-control is-invalid") }}
								<div class="invalid-feedback">
									{% for error in form.modelo.errors %}
										<span>{{ error }}</span>
									{% endfor %}
								</div>
							{% else %}
								{{ form.modelo(class="chosen form-control form-control") }}
							{% endif %}
						</div>
					</div>
				</div>
			</fieldset>
			<br>
			<div class="form-group">
				<!-- boottrap for the submit button  -->
				{{ form.submit(class="btn btn-outline-info") }}
			</div>
		</form>
	</div>
{% endblock content %}