{% extends "layout.html" %}
{% block content %}	
<div class='content-section'>
	<form method='POST' action=""> <!-- action= when we post go back to same route-->
		{{ form.hidden_tag() }} <!-- part of protection -->
		<fieldset class="form-group">
			<legend class="border-bottom mb-4">{{ legend }}</legend>
			<div class="row">
				<div class="col-md-6">
					<div class="form-group" autofocus>
						<!-- boottrap  -->
						{{ form.nombre.label(class="form-control-label") }}<span class="red"> *</span>
						<!-- errores de entrada  -->
						{% if form.nombre.errors %}
							{{ form.nombre(class="form-control form-control-sm is-invalid") }}
							<div class="invalid-feedback">
								{% for error in form.nombre.errors %}
									<span>{{ error }}</span>
								{% endfor %}
							</div>
						{% else %}
							{{ form.nombre(class="form-control form-control-sm", tabindex="1") }}
						{% endif %}
					</div>						
					<div class="form-group">
						{{ form.email.label(class="form-control-label") }}					
						{% if form.email.errors %}
							{{ form.email(class="form-control form-control-sm is-invalid") }}
							<div class="invalid-feedback">
								{% for error in form.email.errors %}
									<span>{{ error }}</span>
								{% endfor %}
							</div>
						{% else %}
							{{ form.email(class="form-control form-control-sm", tabindex="3") }}
						{% endif %}
					</div>						
				</div>
				<div class="col-md-6">
					<div class="form-group">
						<!-- boottrap  -->
						{{ form.apellido.label(class="form-control-label") }}<span class="red"> *</span>
						<!-- errores de entrada  -->
						{% if form.apellido.errors %}
							{{ form.apellido(class="form-control form-control-sm is-invalid") }}
							<div class="invalid-feedback">
								{% for error in form.apellido.errors %}
									<span>{{ error }}</span>
								{% endfor %}
							</div>
						{% else %}
							{{ form.apellido(class="form-control form-control-sm", tabindex="2") }}
						{% endif %}
					</div>						
					<div class="form-group">
						{{ form.telefono.label(class="form-control-label") }}
						{% if form.telefono.errors %}
							{{ form.telefono(class="form-control form-control-sm is-invalid") }}
							<div class="invalid-feedback">
								{% for error in form.telefono.errors %}
									<span>{{ error }}</span>
								{% endfor %}
							</div>
						{% else %}
							{{ form.telefono(class="form-control form-control-sm", tabindex="4") }}
						{% endif %}
					</div>
				</div>
				<div class="form-group">
					<!-- boottrap  -->
					{{ form.comments.label(class="form-control-label") }}
					<!-- errores de entrada  -->
					{% if form.comments.errors %}
						{{ form.comments(class="form-control form-control-sm is-invalid") }}
						<div class="invalid-feedback">
							{% for error in form.comments.errors %}
								<span>{{ error }}</span>
							{% endfor %}
						</div>
					{% else %}
						{{ form.comments(class="form-control form-control-sm", rows='3', tabindex="5") }}
					{% endif %}
				</div>
				<!-- INFORMACION ADICIONAL -->
				<div class="row">
					<div class="btn-group-toggle" data-toggle="buttons">
						<button class="btn btn-sm" type="button" , tabindex="6", data-toggle="collapse" data-target="#collapseEmpresa, #collapseDomicilio" aria-expanded="false" aria-controls="collapseEmpresa collapseDomicilio" id="buttonCollapseCliente">INFORMACIÓN ADICIONAL</button>							
					</div>				
					<div class="col-md-6">
						<div class="collapse" id="collapseDomicilio">
							<label for="collapseDomicilio">Domicilio</label>
							<div class="card card-body bg-secondary mb-3">
								<div class="form-group">									
									{{ form.codigo_postal.label(class="form-control-label") }}									
									{% if form.codigo_postal.errors %}
										{{ form.codigo_postal(class="form-control form-control-sm is-invalid") }}
										<div class="invalid-feedback">
											{% for error in form.codigo_postal.errors %}
												<span>{{ error }}</span>
											{% endfor %}
										</div>
									{% else %}
										{{ form.codigo_postal(id="codigo_postal", class="form-control form-control-sm", title="Ingrese 4 digitos para cargar datos de la Localidad", placeholder="Ingresar C.P. primero", tabindex="7") }}
									{% endif %}
								</div>							
								<div class="form-group">									
									{{ form.direccion.label(class="form-control-label") }}									
									{% if form.direccion.errors %}
										{{ form.direccion(class="form-control form-control-sm is-invalid") }}
										<div class="invalid-feedback">
											{% for error in form.direccion.errors %}
												<span>{{ error }}</span>
											{% endfor %}
										</div>
									{% else %}
										{{ form.direccion(class="form-control form-control-sm", tabindex="8", placeholder="Calle y Número") }}
									{% endif %}
								</div>
								<div class="form-group">									
									{{ form.pais.label(class="form-control-label") }}									
									{% if form.pais.errors %}
										{{ form.pais(class="form-control form-control-sm is-invalid") }}
										<div class="invalid-feedback">
											{% for error in form.pais.errors %}
												<span>{{ error }}</span>
											{% endfor %}
										</div>
									{% else %}
										{{ form.pais(id="paisSelect", class="select3 form-select form-select-sm paisSelect", tabindex="11") }}
									{% endif %}
								</div>
								<div class="form-group">									
									{{ form.provincia.label(class="form-control-label") }}									
									{% if form.provincia.errors %}
										{{ form.provincia(class="form-control form-control-sm is-invalid") }}
										<div class="invalid-feedback">
											{% for error in form.provincia.errors %}
												<span>{{ error }}</span>
											{% endfor %}
										</div>
									{% else %}
										{{ form.provincia(id="provinciaSelect", class="select3 form-control form-control-sm provinciaSelect", tabindex="10") }}
									{% endif %}
								</div>
								<div class="form-group">									
									{{ form.localidad.label(class="form-control-label") }}									
									{% if form.localidad.errors %}
										{{ form.localidad(class="form-control form-control-sm is-invalid") }}
										<div class="invalid-feedback">
											{% for error in form.localidad.errors %}
												<span>{{ error }}</span>
											{% endfor %}
										</div>
									{% else %}
										{{ form.localidad(id="localidadSelect", class="select3 form-control form-control-sm localidadSelect", tabindex="9") }}
									{% endif %}
								</div>
							</div>								
						</div>
					</div>
					<div class="col-md-6">							
						<div class="collapse" id="collapseEmpresa">
							<label for="collapseEmpresa">Empresa</label>
							<div class="card card-body bg-secondary mb-3">
								<div class="form-group">
									{{ form.business_name.label(class="form-control-label") }}	
									{% if form.business_name.errors %}
										{{ form.business_name(class="form-control form-control-sm is-invalid") }}
										<div class="invalid-feedback">
											{% for error in form.business_name.errors %}
												<span>{{ error }}</span>
											{% endfor %}
										</div>
									{% else %}
										{{ form.business_name(class="form-control form-control-sm", tabindex="12") }}
									{% endif %}
								</div>
								<div class="form-group">					
									{{ form.cuit.label(class="form-control-label") }}					
									{% if form.cuit.errors %}
										{{ form.cuit(class="form-control form-control-sm is-invalid") }}
										<div class="invalid-feedback">
											{% for error in form.cuit.errors %}
												<span>{{ error }}</span>
											{% endfor %}
										</div>
									{% else %}
										{{ form.cuit(class="form-control form-control-sm", tabindex="13", id="cuit_input", title="Ingresar 11 Dígitos (Verde=OK, Naranja=Faltan, Rojo=Sobran)", placeholder="ingresar solo números, sin guiones") }}
									{% endif %}
								</div>
								<div class="form-group">					
									{{ form.iibb.label(class="form-control-label") }}					
									{% if form.iibb.errors %}
										{{ form.iibb(class="form-control form-control-sm is-invalid") }}
										<div class="invalid-feedback">
											{% for error in form.iibb.errors %}
												<span>{{ error }}</span>
											{% endfor %}
										</div>
									{% else %}
										{{ form.iibb(id="iibb_select", class="select2 form-control form-control-sm", tabindex="14" ) }}
									{% endif %}
								</div>
								<div class="form-group">					
									{{ form.cond_fiscal.label(class="form-control-label") }}					
									{% if form.cond_fiscal.errors %}
										{{ form.cond_fiscal(class="form-control form-control-sm is-invalid") }}
										<div class="invalid-feedback">
											{% for error in form.cond_fiscal.errors %}
												<span>{{ error }}</span>
											{% endfor %}
										</div>
									{% else %}
										{{ form.cond_fiscal(id="cond_fiscal_select", class="select2 form-control form-control-sm", tabindex="15" ) }}
									{% endif %}
								</div>
							</div>
						</div>
					</div>						
				</div>
			</div>
		</fieldset>
		<br>
		<div class="form-group">
			<!-- boottrap for the submit button  -->
			{{ form.submit(id="clientForm", class="btn btn-outline-info", tabindex="15") }}
		</div>
	</form>
</div>
<script src="{{ url_for('static', filename='js/cuit.js') }}"></script>
<script src="{{ url_for('static', filename='js/select_to_null.js') }}"></script>
<script src="{{ url_for('static', filename='js/geolocalizacion.js') }}"></script>
<script>	
	// reseta a NULL los select con key=-1	
	$(document).ready(function() {
		limpiarSeleccion('#iibb_select')
		limpiarSeleccion('#cond_fiscal_select')
		limpiarSeleccion('#paisSelect')
		limpiarSeleccion('#provinciaSelect')
		limpiarSeleccion('#localidadSelect')
	})
</script>
{% endblock content %}
