{% extends "layout.html" %}
{% block content %}
	<div class='content-section'>
		<form method='POST' action=""> <!-- action= when we post go back to same route-->
			{{ form.hidden_tag() }} <!-- part of protection -->
			<fieldset class="form-group">
				<legend class="border-bottom mb-4">{{ legend }}</legend>
				<div class="row">
					<div class="col-md-6">						

						<div class="form-group">
							{{ form.detalle_trabajo.label(class="form-control-label") }}<span class="red"> *</span>
							{% if form.detalle_trabajo.errors %}
								{{ form.detalle_trabajo(class="form-control form-control-sm is-invalid") }}
								<div class="invalid-feedback">
									{% for error in form.detalle_trabajo.errors %}
										<span>{{ error }}</span>
									{% endfor %}
								</div>
							{% else %}
								{{ form.detalle_trabajo(class="chosen form-select form-select-sm custom-select") }}
							{% endif %}
						</div>

						<div class="form-group">
							{{ form.modelo.label(class="form-control-label") }}<span class="red"> *</span>			
							{% if form.modelo.errors %}
								{{ form.modelo(class="form-control form-control-sm is-invalid") }}
								<div class="invalid-feedback">
									{% for error in form.modelo.errors %}
										<span>{{ error }}</span>
									{% endfor %}
								</div>
							{% else %}
								{{ form.modelo(id="modelo_input",class="chosen form-select form-select-sm custom-select") }}
							{% endif %}
						</div>						

						<div class="form-group">
							{{ form.numSerie.label(class="form-control-label") }}
							{% if form.numSerie.errors %}
								{{ form.numSerie(class="form-control form-control-sm is-invalid") }}
								<div class="invalid-feedback">
									{% for error in form.numSerie.errors %}
										<span>{{ error }}</span>
									{% endfor %}
								</div>
							{% else %}
								{{ form.numSerie(class="form-control form-control-sm", placeholder="1/1234", title="Solo completar para equipos LIE/IA", id="numSerie") }}
							{% endif %}
						</div>										
					</div>
					<div class="col-md-6">						
						<div class="form-group">
							{{ form.anio.label(class="form-control-label") }}					
							{% if form.anio.errors %}
								{{ form.anio(class="form-control form-control-sm is-invalid") }}
								<div class="invalid-feedback">
									{% for error in form.anio.errors %}
										<span>{{ error }}</span>
									{% endfor %}
								</div>
							{% else %}
								{{ form.anio(class="chosen form-select form-select-sm custom-select") }}
							{% endif %}
						</div>

						<div class="form-group">
							{{ form.frecuencia.label(class="form-control-label") }}					
							{% if form.frecuencia.errors %}
								{{ form.frecuencia(class="form-control form-control-sm is-invalid") }}
								<div class="invalid-feedback">
									{% for error in form.frecuencia.errors %}
										<span>{{ error }}</span>
									{% endfor %}
								</div>
							{% else %}
								{{ form.frecuencia(class="chosen form-select form-select-sm custom-select") }}
							{% endif %}
						</div>
						
					</div>
					<div class="form-group">
							<!-- boottrap  -->
							{{ form.content.label(class="form-control-label") }}
							<!-- errores de entrada  -->
							{% if form.content.errors %}
								{{ form.content(class="form-control form-control-sm is-invalid") }}
								<div class="invalid-feedback">
									{% for error in form.content.errors %}
										<span>{{ error }}</span>
									{% endfor %}
								</div>
							{% else %}
								{{ form.content(class="form-control form-control-sm", rows='5') }}
							{% endif %}
					</div>
				</div>
			</fieldset>
			<br>
			<div class="form-group">				
				{{ form.submit(class="btn btn-outline-info") }}
			</div>
		</form>
	</div>

{% endblock content %}