{% extends "layout.html" %}
{% block content %}
    <h6 class="mb-3 article-metadata">Detalles de <a class="mr-2" href="{{ url_for('equipments.equipment', equipment_id=equipo.id) }}">{{ equipo.modelo.nombre }}</a> ({{ lista.count() }})</h6>
    <p><a class="btn btn-outline-info btn-sm mt-1 mb-1" href="{{ url_for('historias.add_historia', equipment_id = equipo.id) }}">Agregar historia</a></p>
    
    {% for historia in lista %}
        <article class="media content-section">
            <div class="media-body">
                <div class="row">
                    <div class="col-md-10">
                        <a class="article-title" href="{{ url_for('historias.historia', historia_id=historia.id) }}">
                        <h2>{{ historia.title }}</h2>
                        <h6 class="article-title" href="">{{ historia.content }}</h6>
                        <small>Última modificación: {{ historia.date_modified.strftime('%d-%m-%Y') }}</small>
                        </a>
                    </div>
                    <div class="col-md-2">
                        <div class="d-grid">
                            <a class="btn btn-{% if historia.tipologia.tipo == 'Mensaje' %}light
                                          {% elif historia.tipologia.tipo == 'Reparación' %}warning
                                          {% elif historia.tipologia.tipo == 'Modificación' %}info
                                          {% endif %} btn-block btn-sm"
                                          >{{ historia.tipologia.tipo }}
                            </a>
                        </div>
                    </div>
                </div> 
            </div>
        </article>
    {% endfor %}
    
{% endblock content %}