{% extends "layout.html" %}
{% block content %}
    <article class="media content-section">
        
        <div class="media-body">
            <div class="article-metadata">
                <a title="Autor" class="mr-2" href="{{ url_for('users.user_eq_details', username=eq_detail.author_historia.username) }}">
                    <img  class="rounded-circle article-img" src="{{ url_for('static', filename='profile_pics/' +     eq_detail.author_historia.image_file) }}"><p>{{ eq_detail.author_historia.username }}</a>
          		<small title="Fecha creación" class="text-muted">{{ eq_detail.date_created.strftime('%Y-%m-%d') }}</small></p>              
            </div>          
            <div class="row">
                <div class="col-md-3">
                    <p>Título:</p> 
                </div>
                <div class="col-md-9">
                    <h3 class="aticle-title">{{ eq_detail.title }}</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3">
                    <p>Historia:</p> 
                </div>
                <div class="col-md-9">
                    <h5 class="aticle-title">{{ eq_detail.content }}</h5>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3">
                    <p>Equipo:</p> 
                </div>
                <div class="col-md-9">
                    <a class="article-title" href="{{ url_for('equipments.equipment', equipment_id=eq_detail.equipo_historia.id) }}"><b>{{ eq_detail.equipo_historia.title }}</b></a>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3">
                        <p>Tipo:</p> 
                </div>
                <div class="col-md-9">
                    <small class="aticle-title">{{ eq_detail.tipologia.tipo }}</small>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3">
                    <small>Última modificación: </small>
                </div>
                <div class="col-md-9">
                    <small class="article-content"><b>{{ eq_detail.date_modified }}</b></small>    
                </div>
            </div>                
        </div>  
        {% if eq_detail.author_historia == current_user %}
            <div>
                <a  class="bi bi-pencil-fill btn btn-outline-warning" title="Editar historia" href="{{ url_for('eq_details.update_eq_detail', eq_detail_id=eq_detail.id) }}"></a>
                <a class="bi bi-trash-fill btn btn-outline-danger" href="#" data-toggle="modal" data-target="#deleteModal" title="Eliminar historia"></a>
            </div>
          {% endif %}        
    </article>
     <!-- Modal -->
    <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="deleteModalLabel">¿Seguro desea borrarlo?</h5>
            <button type="button" class="Cerrar" data-dismiss="modal" aria-label="Cerrar">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
            <form action="{{ url_for('eq_details.delete_eq_detail', eq_detail_id=eq_detail.id) }}" method="POST">
              <input class="btn btn-danger" type="submit" value="Borrar">
            </form>
          </div>
        </div>
      </div>
    </div>
{% endblock content %}