{% extends "layout.html" %}
{% block content %}
    <article class="media content-section">
        <div class="media-body">
            <legend class="border-bottom mb-4">Equipo</legend>
            <div class="row">
                <div class="col-md-3">
                  <small>Nombre:</small> 
                </div>
                <div class="col-md-9">
                  <h1 class="aticle-title">{{ equipment.title }}</h1></p>
                </div>
            </div>
            <div class="row">
                  <div class="col-md-3">
                    <small>Pertenece a: </small>
                  </div>
                  <div class="col-md-9">
                    <a class="article-title" title="Ver datos del cliente" href="{{ url_for('clients.client', client_id=equipment.owner.id) }}"><b>{{ equipment.owner.client_name }}</b></a>
                  </div>
                </div>
            <div class="row">
                <div class="col-md-3">
                  <small>Descripción:</small> 
                </div>
                <div class="col-md-9">
                  <h5 class="article-content">{{ equipment.content }}</h5>
                </div>
            </div>
                <div style="font-style: italic;">            
                <div class="row">
                  <div class="col-md-3">
                    <small>Nº Serie: </small>
                  </div>
                  <div class="col-md-9">
                    <small><b class="article-title" >{{ equipment.numSerie }}</b></small>
                  </div>
                </div>                
                <div class="row">
                  <div class="col-md-3">
                    <small>Año modelo: </small>
                  </div>
                  <div class="col-md-9">
                    <small><b class="article-title" >{{ equipment.anio }}</b></small>                    
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-3">
                    <small>Última modificación: </small>
                  </div>
                  <div class="col-md-9">
                    <small class="article-content"><b>{{ equipment.date_modified.strftime('%d-%m-%Y') }}</b></small>    
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-3">
                    <small>Creado el: </small>
                  </div>
                  <div class="col-md-9">
                    <small class="article-content"><b>{{ equipment.date_created.strftime('%d-%m-%Y') }}</b> por <b>{{ equipment.author_eq.username }}</b></small>
                  </div>
                </div>
                </div>
                <div class="row">
                  <div class="col-md6">                    
                    <a class="bi bi-chat-dots btn btn-outline-light" title="Añadir Historia" href="{{ url_for('eq_details.add_eq_detail', equipment_id = equipment.id) }}"></a>
                    <a class="bi bi-wrench btn btn-outline-info" href="{{ url_for('ordenes_reparacion.add_orden_reparacion', equipment_id = equipment.id) }}" title="Añadir O.R."></a>
                    <a class="bi bi-pencil-fill btn btn-outline-warning" title="Editar equipo" href="{{ url_for('equipments.update_equipment', equipment_id=equipment.id) }}"></a>
                    <a class="bi bi-trash-fill btn btn-outline-danger" href="#" data-toggle="modal" data-target="#deleteModal" title="Eliminar equipo"></a>                
                </div>
            </div>            
        </div>
    </article>
    <br>
    {% set pages = historias.iter_pages(left_edge=3, right_edge=3, left_current=3, right_current=3) | list %}
    {% if pages|length > 1 %}
      {% for page_num in pages %}
        {% if page_num %}
            {% if historias.page == page_num %}                
                <a class="btn btn-info mb-4" href="{{ url_for('equipments.equipment', equipment_id=equipment.id, page=page_num) }}">{{ page_num }}</a>
            {% else %}
                <a class="btn btn-outline-info mb-4" href="{{ url_for('equipments.equipment', equipment_id=equipment.id, page=page_num) }}">{{ page_num }}</a>
            {% endif %}
        {% endif %}
      {% endfor %}
    {% endif %}
    <h6>Historial del equipo:</h6>
    <hr 80%>    
    {% for historia in historias.items %}
        <article class="media content-section">
            <div class="row">                
                <div class="col-md-10">
                    <a class="article-title" href="{{ url_for('eq_details.eq_detail', eq_detail_id=historia.id) }}">
                        <h4>{{ historia.title }}</h4>
                        <h6 class="article-content">{{ historia.content }}</h6>
                        <small class="article-content">Última modificación: <b>{{ historia.date_modified.strftime('%d-%m-%Y') }}</b></small>
                        <small>Fecha de creación: <b>{{ historia.date_created.strftime('%d-%m-%Y') }}</b> por el usuario <a class="article-title" href="{{ url_for('users.user_eq_details', username=historia.author_historia.username) }}"><b>{{ historia.author_historia.username }}</b></a></small>                        
                    </a>
                </div>
                <div class="col-md-2 text-end">
                  <div class="d-grid">
                    {% if historia.tipologia.tipo == 'Mensaje' %}
                        <a class="btn btn-dark btn-block btn-sm" href="{{ url_for('equipments.historias_equipo',  equipment_id=equipment.id, tipologia_id=historia.tipologia.id) }}">{{ historia.tipologia.tipo }}</a>
                    {% elif historia.tipologia.tipo == 'Reparación' %}
                        <a class="btn btn-info btn-block btn-sm" href="{{ url_for('equipments.historias_equipo',  equipment_id=equipment.id, tipologia_id=historia.tipologia.id) }}">{{ historia.tipologia.tipo }}</a>
                    {% elif historia.tipologia.tipo == 'Modificación' %}
                        <a class="btn btn-light btn-block btn-sm" href="{{ url_for('equipments.historias_equipo',  equipment_id=equipment.id, tipologia_id=historia.tipologia.id) }}">{{ historia.tipologia.tipo }}</a>
                    {% else %}
                        <a class="btn btn-light btn-block btn-sm" href="{{ url_for('equipments.historias_equipo',  equipment_id=equipment.id, tipologia_id=historia.tipologia.id) }}">{{ historia.tipologia.tipo }}</a>
                    {% endif %}
                    </div>
                </div>
            </div>
      </article>
    {% endfor %}
    {% set pages = historias.iter_pages(left_edge=3, right_edge=3, left_current=3, right_current=3) | list %}
    {% if pages|length > 1 %}
      {% for page_num in pages %}
        {% if page_num %}
            {% if historias.page == page_num %}                
                <a class="btn btn-info mb-4" href="{{ url_for('equipments.equipment', equipment_id=equipment.id, page=page_num) }}">{{ page_num }}</a>
            {% else %}
                <a class="btn btn-outline-info mb-4" href="{{ url_for('equipments.equipment', equipment_id=equipment.id, page=page_num) }}">{{ page_num }}</a>
            {% endif %}
        {% endif %}
      {% endfor %}
    {% endif %}
     <!-- Modal -->
    <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="deleteModalLabel">¿Seguro desea eliminar el equipo "{{ equipment.title }}"?</h5>
            <button type="button" class="Cerrar" data-dismiss="modal" aria-label="Cerrar">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
            <form action="{{ url_for('equipments.delete_equipment', equipment_id=equipment.id) }}" method="POST">
              <input class="btn btn-danger" type="submit" value="Borrar">
            </form>
          </div>
        </div>
      </div>
    </div>
{% endblock content %}