{% extends "layout.html" %}
{% block content %}
    <article class="media content-section">
        <div class="media-body">
            <legend class="border-bottom mb-4">Equipo</legend>
            <div class="row">
                <div class="col-md-3">
                  <div class="img-container">
                    <a href="#" onclick="abrirImagen('{{ image_path+equipment.modelo.image_file }}'); return false;">
                      <img class="rounded-3 account-img" src="{{ image_path+equipment.modelo.image_file }}" alt="Imagen" />
                      <div class="overlay">
                        <div class="overlay-content">Abrir Imagen</div>
                      </div>
                    </a>
                  </div>
                </div>
                <div class="col-md-9">
                  <div class="media-body">
                    <a href="{{ url_for('modelos.modelo', modelo_id=equipment.modelo.id) }}"><h2 class="account-heading" title="Modificar datos del modelo">{{ equipment.modelo }}</h2></a>
                    <h6 class="article-title">Marca: <b>{{ equipment.modelo.marca }}</b></h6>
                    <h6 class="article-title">Descripción: <b>{{ equipment.modelo.descripcion }}</b></h6>
                    <h6 class="article-title">Homologación: <b>{{ equipment.modelo.homologacion }}</b></h6>
                    <small class="article-title">Modificado: <b>{{ equipment.modelo.date_modified }}</b></small>
                  </div>
                </div>
            </div>
            <hr 90%>
            <div class="row">
                <div class="col-md-3 text-end">
                    <small>Nº Serie: </small>
                </div>
                <div class="col-md-9">
                    <small><b class="article-title" >{{ equipment.numSerie }}</b></small>
                </div>
                <div class="col-md-3 text-end">
                  <small>Canal / Frecuencia: </small>
                </div>
                <div class="col-md-9">
                    <small><b class="article-title" >{{ equipment.frecuencia_eq.canal }} {{ equipment.frecuencia_eq.rango }}</b></small>
                </div>
                <div class="col-md-3 text-end">
                    <small>Cliente:</small> 
                </div>
                <div class="col-md-9">
                    <a class="article-title" title="Ver datos del cliente" href="{{ url_for('clients.client', client_id=equipment.owner.id) }}"><b>{{ equipment.owner.nombre }} {{ equipment.owner.apellido }}</b></a>
                </div>
                
            </div>
            <div class="row">
                <div class="col-md-3 text-end">
                    <small>Descripción:</small> 
                </div>
                <div class="col-md-9">
                    <h6 class="article-title">{{ equipment.content }}</h6>
                </div>
            </div>                         
            <div class="row">
              <div class="col-md-3 text-end">
                <small>Año fabricación: </small>
              </div>
              <div class="col-md-9">
                <small><b class="article-title" >{{ equipment.anio }}</b></small>                    
              </div>
            </div>
            <div class="row">
              <div class="col-md-3 text-end">
                <small>Última modificación: </small>
              </div>
              <div class="col-md-9">
                <small class="article-title"><b>{{ equipment.date_modified.strftime('%d-%m-%Y') }}</b></small>    
              </div>
            </div>
            <div class="row">
              <div class="col-md-3 text-end">
                <small>Creado el: </small>
              </div>
              <div class="col-md-9">
                <small class="article-title"><b>{{ equipment.date_created.strftime('%d-%m-%Y') }}</b> por <b>{{ equipment.author_eq.username }}</b></small>
              </div>
            </div>
        </div>
        <hr 80%>
        <div class="row">
            <div class="col-md6">
                <a class="bi bi-chat btn btn-outline-light" title="Añadir Historia" href="{{ url_for('historias.add_historia', equipment_id = equipment.id) }}"></a>
                <a class="bi bi-wrench btn btn-outline-info" href="{{ url_for('ordenes_reparacion.add_orden_reparacion', equipment_id = equipment.id) }}" title="Añadir O.R."></a>
                <a class="bi bi-pencil-fill btn btn-outline-warning" title="Editar equipo" href="{{ url_for('equipments.update_equipment', equipment_id=equipment.id) }}"></a>
                <a class="bi bi-trash-fill btn btn-outline-danger" href="#" data-toggle="modal" data-target="#deleteModal" title="Eliminar equipo"></a>
            </div>
        </div>
    </article>

	<ul class="nav nav-tabs" id="myTab" role="tablist">
		<li class="nav-item" role="presentation">
		  <button class="nav-link active" id="historial-tab" data-bs-toggle="tab" data-bs-target="#historial" type="button" role="tab" aria-controls="historial" aria-selected="true">Historial ({{ lista.count() }})</button>
		</li>
    {% if reparaciones.count() != 0 %}
      <li class="nav-item" role="presentation">
        <button class="nav-link" id="reparaciones-tab" data-bs-toggle="tab" data-bs-target="#reparaciones" type="button" role="tab" aria-controls="reparaciones" aria-selected="false">Órdenes de reparación ({{ reparaciones.count() }})</button>
      </li>
    {% endif %}
	</ul>

	<div class="tab-content" id="myTabContent">
		<div class="tab-pane fade show active" id="historial" role="tabpanel" aria-labelledby="historial-tab">
			<br>
			{% for historia in lista %}
				<article class="media content-section-list">
					<div class="media-body">
						<div class="row">                
							<div class="col-md-10">
								<a class="article-title" href="{{ url_for('historias.historia', historia_id=historia.id) }}">
									<h2>{{ historia.title }}</h2>
									<h6 class="article-title">{{ historia.content }}</h6>
									<small class="article-content">Última modificación: <b>{{ historia.date_modified.strftime('%d-%m-%Y') }}</b></small>
									<small>Fecha de creación: <b>{{ historia.date_created.strftime('%d-%m-%Y') }}</b> por el usuario <a class="article-title" href="{{ url_for('users.user_historias', username=historia.author_historia.username) }}"><b>{{ historia.author_historia.username }}</b></a></small>                        
								</a>
							</div>
							<div class="col-md-2 text-end" title="tipo de historia">
							<div class="d-grid">
								<a class="btn btn-{% if historia.tipologia.tipo == 'Mensaje' %}light
										{% elif historia.tipologia.tipo == 'Reparación' %}warning
										{% elif historia.tipologia.tipo == 'Modificación' %}info
										{% endif %} btn-block btn-sm" 
										href="{{ url_for('equipments.historias_equipo',  equipment_id=equipment.id, tipologia_id=historia.tipologia.id) }}" 
										title="Ver todas las historias del tipo '{{ historia.tipologia.tipo }}'">
										{{ historia.tipologia.tipo }}
								</a>
							</div>
							</div>
						</div>
					</div>
				</article>
			{% endfor %}
		</div>
		<div class="tab-pane fade" id="reparaciones" role="tabpanel" aria-labelledby="reparaciones-tab">
			<br>
			{% for orden_reparacion in reparaciones %}
				<article class="media content-section-list">
					<div class="row">
						<div class="col-md-10">
							<div class="media-body">
								<a class="article-title" href="{{ url_for('ordenes_reparacion.orden_reparacion', orden_reparacion_id=orden_reparacion.id) }}">
									<h2>{{ orden_reparacion.codigo }}</h2>
									<h6 class="article-title">{{ orden_reparacion.content }}</h6>
									<small>{{ orden_reparacion.equipo.title }}</small>
									{% if orden_reparacion.tecnicoAsignado %}
										<small>Equipo: <b>{{ orden_reparacion.equipo.modelo }}</b> Técnico asignado: <b>{{ orden_reparacion.tecnicoAsignado.username }}</b></small>
									{% endif %}
								</a>
							</div>
						</div>
						<div class="col-md-2 text-end">
							<div class="d-grid">
								<a class="btn btn-{% if orden_reparacion.estado.descripcion == 'Creada' %}warning
												{% elif orden_reparacion.estado.descripcion == 'Asignada' %}success
												{% elif orden_reparacion.estado.descripcion == 'Anulada' %}dark
												{% elif orden_reparacion.estado.descripcion == 'Finalizada' %}secondary
												{% endif %} btn-block btn-sm"
												href="{{ url_for('equipments.equipment',  equipment_id=orden_reparacion.equipo.id) }}",
												title="Ir al equipo {{ orden_reparacion.equipo.modelo }}">
												{{ orden_reparacion.estado.descripcion }}
								</a>
							</div>
						</div>
					</div>
				</article>
			{% endfor %}
		</div>
	</div>

      
    <!-- Modal -->
    <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="deleteModalLabel">¿Seguro desea eliminar el equipo "{{ equipment.modelo.nombre }}"?</h5>
            <button type="button" class="Cerrar" data-dismiss="modal" aria-label="Cerrar">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
            <form action="{{ url_for('equipments.delete_equipment', equipment_id=equipment.id) }}" method="POST">
              <input class="btn btn-danger" type="submit" value="Borrar">
            </form>
          </div>
        </div>
      </div>
    </div>
{% endblock content %}