{% extends "layout.html" %}
{% block content %}
    <article class="media content-section">
        <div class="media-body">
            <legend class="border-bottom mb-4">Equipo</legend>
            <div class="row">
                <div class="col-md-3">
                    <img class="rounded-3 account-img" src="{{image_path+equipment.modelo_eq.image_file }}">
                </div>
                <div class="col-md-9">
                    <div class="media-body">
                        <a href="{{ url_for('modelos.modelo', modelo_id=equipment.modelo_eq.id) }}"><h2 class="account-heading">{{ equipment.modelo_eq.nombre }}</h2></a>
                        <b><small class="article-title" style="display: block;">{{ equipment.modelo_eq.descripcion }}</small>
                        <small  class="article-title" style="display: block;">{{ equipment.marca_eq.nombre }}</small>
                        <small class="article-title" style="display: block;">{{ equipment.frecuencia_eq.canal }}</small></b>
                    </div>
                </div>
            </div>        
            <hr 90%>
            <div class="row align-items-center">
                <div class="col-md-3 text-end">
                    <small>Cliente:</small> 
                </div>
                <div class="col-md-9">
                    <a class="article-title" title="Ver datos del cliente" href="{{ url_for('clients.client', client_id=equipment.owner.id) }}"><b>{{ equipment.owner.nombre }} {{ equipment.owner.apellido }}</b></a>
                </div>
            </div>
            <div class="row align-items-center">
                <div class="col-md-3 text-end">
                    <small>Descripción:</small> 
                </div>
                <div class="col-md-9">
                    <h5 class="article-content">{{ equipment.content }}</h5>
                </div>
            </div>
            <div class="row align-items-center">
              <div class="col-md-3 text-end">
                <small>Nº Serie: </small>
              </div>
              <div class="col-md-9">
                <small><b class="article-title" >{{ equipment.numSerie }}</b></small>
              </div>
            </div>                
            <div class="row align-items-center">
              <div class="col-md-3 text-end">
                <small>Año modelo: </small>
              </div>
              <div class="col-md-9">
                <small><b class="article-title" >{{ equipment.anio }}</b></small>                    
              </div>
            </div>
            <div class="row align-items-center">
              <div class="col-md-3 text-end">
                <small>Última modificación: </small>
              </div>
              <div class="col-md-9">
                <small class="article-title"><b>{{ equipment.date_modified.strftime('%d-%m-%Y') }}</b></small>    
              </div>
            </div>
            <div class="row align-items-center">
              <div class="col-md-3 text-end">
                <small>Creado el: </small>
              </div>
              <div class="col-md-9">
                <small class="article-title"><b>{{ equipment.date_created.strftime('%d-%m-%Y') }}</b> por <b>{{ equipment.author_eq.username }}</b></small>
              </div>
            </div>
        </div>
        <hr 80%>
        <div class="row align-items-center">
            <div class="col-md6">
                <a class="bi bi-chat btn btn-outline-light" title="Añadir Historia" href="{{ url_for('historias.add_historia', equipment_id = equipment.id) }}"></a>
                <a class="bi bi-wrench btn btn-outline-info" href="{{ url_for('ordenes_reparacion.add_orden_reparacion', equipment_id = equipment.id) }}" title="Añadir O.R."></a>
                <a class="bi bi-pencil-fill btn btn-outline-warning" title="Editar equipo" href="{{ url_for('equipments.update_equipment', equipment_id=equipment.id) }}"></a>
                <a class="bi bi-trash-fill btn btn-outline-danger" href="#" data-toggle="modal" data-target="#deleteModal" title="Eliminar equipo"></a>
            </div>
        </div>        
    </article>
    <br>
    
    <h6 class="border-bottom border-secondary mb-4">Historial del equipo ({{ lista.count() }})</h6>
    
    {% for historia in lista %}
        <article class="media content-section">
            <div class="row align-items-center">                
                <div class="col-md-10">
                    <a class="article-title" href="{{ url_for('historias.historia', historia_id=historia.id) }}">
                        <h2>{{ historia.title }}</h2>
                        <h5 class="article-content">{{ historia.content }}</h5>
                        <small class="article-content">Última modificación: <b>{{ historia.date_modified.strftime('%d-%m-%Y') }}</b></small>
                        <small>Fecha de creación: <b>{{ historia.date_created.strftime('%d-%m-%Y') }}</b> por el usuario <a class="article-title" href="{{ url_for('users.user_historias', username=historia.author_historia.username) }}"><b>{{ historia.author_historia.username }}</b></a></small>                        
                    </a>
                </div>
                <div class="col-md-2 text-end" title="tipo de historia">
                  <div class="d-grid">
                    {% if historia.tipologia.tipo == 'Mensaje' %}
                        <a class="btn btn-dark btn-block btn-sm" href="{{ url_for('equipments.historias_equipo',  equipment_id=equipment.id, tipologia_id=historia.tipologia.id) }}">{{ historia.tipologia.tipo }}</a>
                    {% elif historia.tipologia.tipo == 'Reparación' %}
                        <a class="btn btn-info btn-block btn-sm" href="{{ url_for('equipments.historias_equipo',  equipment_id=equipment.id, tipologia_id=historia.tipologia.id) }}">{{ historia.tipologia.tipo }}</a>
                    {% elif historia.tipologia.tipo == 'Modificación' %}
                        <a class="btn btn-light btn-block btn-sm" href="{{ url_for('equipments.historias_equipo',  equipment_id=equipment.id, tipologia_id=historia.tipologia.id) }}">{{ historia.tipologia.tipo }}</a>
                    {% else %}
                        <a class="btn btn-light btn-block btn-sm" href="{{ url_for('equipments.historias_equipo',  equipment_id=equipment.id, tipologia_id=historia.tipologia.id) }}">{{ historia.tipologia.tipo }}</a>
                    {% endif %}
                    </div>
                </div>
            </div>
        </article>
    {% endfor %}
   
     <!-- Modal -->
    <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="deleteModalLabel">¿Seguro desea eliminar el equipo "{{ equipment.modelo_eq.nombre }}"?</h5>
            <button type="button" class="Cerrar" data-dismiss="modal" aria-label="Cerrar">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
            <form action="{{ url_for('equipments.delete_equipment', equipment_id=equipment.id) }}" method="POST">
              <input class="btn btn-danger" type="submit" value="Borrar">
            </form>
          </div>
        </div>
      </div>
    </div>
{% endblock content %}