{% extends "layout.html" %}
{% block content %}
    <h6 class="mb-3 article-metadata">Historias de <a class="mr-2" href="{{ url_for('equipments.equipment', equipment_id=equipo.id) }}">{{ equipo.title }}</a> ({{ historias.total }})</h6>
    <p><a class="btn btn-outline-info btn-sm mt-1 mb-1" href="{{ url_for('historias.add_historia', equipment_id = equipo.id) }}">Agregar historia</a></p>
    
    {% for historia in historias %}
        <article class="media content-section">
            <div class="media-body">
                <div class="row">
                    <div class="col-md-10">
                        <a class="article-title" href="{{ url_for('historias.historia', historia_id=historia.id) }}">
                        <h2>{{ historia.title }}</h2>
                        <h6 class="article-title" href="">{{ historia.content }}</h6>
                        <small>Última modificación: {{ historia.date_modified.strftime('%d-%m-%Y') }}</small>
                        </a>
                    </div>
                    <div class="col-md-2">
                        {% if historia.tipologia.tipo == 'Mensaje' %}
                        <a class="btn btn-dark btn-block btn-sm">{{ historia.tipologia.tipo }}</a>
                        {% elif historia.tipologia.tipo == 'Reparación' %}
                            <a class="btn btn-info btn-block btn-sm">{{ historia.tipologia.tipo }}</a>
                        {% elif historia.tipologia.tipo == 'Modificación' %}
                            <a class="btn btn-light btn-block btn-sm">{{ historia.tipologia.tipo }}</a>
                        {% else %}
                            <a class="btn btn-light btn-block btn-sm">{{ historia.tipologia.tipo }}</a>
                        {% endif %}                        
                    </div>
                </div> 
            </div>
        </article>
    {% endfor %}
    
{% endblock content %}