{% extends "layout.html" %}
{% block content %}
    <h6 class="border-bottom border-secondary mb-4">Historia</h6>
    <article class="media content-section">
        
        <div class="media-body">
            <div class="row align-items-center">
                <div class="col-md-11">
                    <div class="article-metadata">
                        <a title="ir a historias del Autor" class="mr-2" href="{{ url_for('users.user_historias', username=historia.author_historia.username) }}">
                            <img  class="rounded-circle article-img" src="{{ url_for('static', filename='profile_pics/' + historia.author_historia.image_file) }}"><p>{{ historia.author_historia.username }}</a>
                  		<small title="Fecha creación" class="text-muted">{{ historia.date_created.strftime('%Y-%m-%d') }}</small></p>             
                    </div>
                </div>
                <div class="col-md-1">
                    <button class="btn btn-outline-light bi-arrow-return-left" onclick="goBack()" title="Volver atrás"></button>
                </div>
            </div>
            <div class="row align-items-center">
                <div class="col-md-3 text-end">
                        <small>Tipo:</small>
                </div>
                <div class="col-md-9">
                    <h5 class="aticle-title">{{ historia.tipo_historia.tipo }}</h5>
                </div>
            </div>
            <div class="row align-items-center">
                <div class="col-md-3 text-end">
                    <small>Título:</small> 
                </div>
                <div class="col-md-9">
                    <h3 class="aticle-title">{{ historia.title }}</h3>
                </div>
            </div>
            <div class="row align-items-center">
                <div class="col-md-3 text-end">
                    <small>Historia:</small> 
                </div>
                <div class="col-md-9">
                    <h5 class="aticle-title">{{ historia.content }}</h5>
                </div>
            </div>
            <div class="row align-items-center">
                <div class="col-md-3 text-end">
                    <small>Equipo:</small> 
                </div>
                <div class="col-md-9">
                    <a class="article-title" href="{{ url_for('equipments.equipment', equipment_id=historia.eq_historia.id) }}"><b>{{ historia.eq_historia.modelo }}</b></a>
                </div>
            </div>            
            <div class="row align-items-center">
                <div class="col-md-3 text-end">
                    <small>Creado el: </small>
                </div>
                <div class="col-md-9">
                    <small class="article-title"><b>{{ historia.date_created.strftime('%d-%m-%Y') }}</b></small>
                </div>
            </div>
            <div class="row align-items-center">
                <div class="col-md-3 text-end">
                    <small>Última modificación: </small>
                </div>
                <div class="col-md-9">                    
                    <small class="article-title"><b>{{ historia.date_modified.strftime('%d-%m-%Y %H:%M:%S') }}</b></small>
                </div>
            </div>
        </div>  
        {% if historia.author_historia == current_user %}
            <div>
                <a  class="bi bi-pencil-fill btn btn-outline-warning" title="Editar historia" href="{{ url_for('historias.update_historia', historia_id=historia.id) }}"></a>
                <a class="bi bi-trash-fill btn btn-outline-danger" href="#" data-toggle="modal" data-target="#deleteModal" title="Eliminar historia"></a>
            </div>
          {% endif %}        
    </article>
     <!-- Modal -->
    <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="deleteModalLabel">¿Seguro desea borrarlo?</h5>
            <button type="button" class="Cerrar" data-dismiss="modal" aria-label="Cerrar">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
            <form action="{{ url_for('historias.delete_historia', historia_id=historia.id) }}" method="POST">
              <input class="btn btn-danger" type="submit" value="Borrar">
            </form>
          </div>
        </div>
      </div>
    </div>
{% endblock content %}