{% extends "layout.html" %}
{% block content %}        
    {% if current_user.is_authenticated %}
    <div class="tarjeta-nav">
        <div class="row">
            <div class="col-md-6">
                <a href="{{ url_for('clients.all_clients', orderBy='id', orderOrder='asc') }}">CLIENTES</a>
            </div>
            <div class="col-md-6">
                <a href="{{ url_for('equipments.all_equipments', orderBy='date_modified', orderOrder='desc') }}">EQUIPOS</a>
            </div>            
        </div>
        <div class="row">
            <div class="col-md-6">
                {% if current_user.role.role_name == 'Comercial' or current_user.role.role_name == 'Admin'%}
                    <a class="text-center" href="{{ url_for('ordenes_trabajo.all_ordenes_trabajo', orderBy='estado_id', orderOrder='asc') }}">
               ÓRDENES DE TRABAJO</a>
                {% else %}
                    <a href="{{ url_for('ordenes_reparacion.all_ordenes_reparacion', orderBy='estado_id', orderOrder='asc') }}">
                REPARACIONES</a>
                {% endif  %}
            </div>
            <div class="col-md-6">
                <a href="{{ url_for('users.account', user_id=current_user.id) }}">MI CUENTA</a>
            </div>
            
        </div>
    </div>
    {% else %}
        <div class="row">
            <div class="col-md-6">
            </div>
            <div class="col-md-6">
                <div class="text-center">
                    <a href="/login"><img class="logo" src="./static/images/LOGO.png"></a>
                    <br>
                    <a class="btn btn-outline-info btn-lg" type="button" href="{{ url_for('users.login') }}">Iniciar sesión</a>
                </div>
            </div>
        </div>
    {% endif %}    
{% endblock content %}
