{% extends "layout.html" %}
{% block content %}
    <div class='content-section'>        
        <a class="article-title mb-5" href="/"><img src="./static/images/LOGO_reduced.png"></a>
        <p></p>
        <p></p>
        <h7>Sistema informático de L.I.E. S.R.L.</h7>
        <h3 class="article-title mb-5">Bienvenido al programa de seguimiento de equipos</h3>
        {% if not current_user.is_authenticated %}
            <p>Si ud. no tiene una cuenta, deberá contactarse con el administrador del sistema para crear una.</p>            
            <a class="btn btn-secondary btn-sm mt-1 mb-1" href="{{ url_for('users.login') }}">Iniciar sesión</a>            
        {%endif%}
        
    </div>
{% endblock content %}