{% extends "layout.html" %}
{% block content %}        
    <div class='content-section text-center'>        
        <a class="article-title mb-5" href="/"><img class="logo" src="./static/images/LOGO.png"></a>        
        <h6><i>Tecnología y seguridad en información</i></h6>
        <br>
        <h3 class="article-title mb-5">Bienvenido al programa de seguimiento de equipos<br>
        y servicio de postventa de la empresa L.I.E. S.R.L.</h3>
        {% if not current_user.is_authenticated %}
        <p>Si ud. no tiene una cuenta, deberá contactarse con el administrador del sistema para crear una.</p>            
        <a class="btn btn-secondary btn-sm mt-1 mb-1" href="{{ url_for('users.login') }}">Iniciar sesión</a>            
        {%endif%}
        
    </div>
{% endblock content %}