<div class="navbar-nav ">	
	<button class="menu-toggle" aria-label="Toggle Menu"></button>
	<a class="navbar-brand-celu" href="/"><img src="./static/images/LOGO_small.png"></a>
	<ul class="menu-horizontal">
		<a class="navbar-brand" href="/"><img src="./static/images/LOGO_small.png"></a>

		<!-- SOLO REGISTRADOS -->
		{% if current_user.is_authenticated %}
			<!-- SOLO admin -->
			{% if current_user.role.role_name == "Admin" %}
				<li>
					<a class="menu-horizontal">Admin</a>
					<ul class="menu-vertical">
						<li><a class="nav-item nav-link" href="{{ url_for('users.register') }}">Registrar Usuario</a></li>									
						<li><a class="nav-item nav-link" href="{{ url_for('users.all_users', orderBy='username', orderOrder='asc') }}">Ver cuentas de usuarios</a></li>
						
						<hr>							
						<li><a class="nav-item nav-link" href="{{ url_for('reportes.reporte_zona') }}">Reporte equipos por zona</a></li>
						<li><a class="nav-item nav-link" href="{{ url_for('reportes.reporte_modelo') }}">Reporte equipos por modelo</a></li>
						<li><a class="nav-item nav-link" href="{{ url_for('reportes.reporte_anio') }}">Reporte ventas por año</a></li>
						
					</ul>
				</li>
			{% endif %}
			<!-- SECTOR TODOS menos INVITADOS -->
			{% if current_user.role.role_name != "Invitado" %}

				<li>
					<a class="menu-horizontal">Atención al Cliente</a>
					<ul class="menu-vertical">
						<li><a class="nav-item nav-link" href="{{ url_for('clients.add_client') }}">Registrar Cliente</a></li>
						<li><a class="nav-item nav-link" href="{{ url_for('clients.all_clients', orderBy='id', orderOrder='asc') }}">Buscar cliente</a></li>	
						<hr>
						<li><a class="nav-item nav-link" href="{{ url_for('ordenes_reparacion.add_orden_reparacion', equipment_id=0) }}">Registrar Orden de Reparación</a></li>
						<li><a class="nav-item nav-link"  href="{{ url_for('ordenes_reparacion.all_ordenes_reparacion', orderBy='estado_id', orderOrder='asc') }}">Buscar Orden de Reparación</a></li>
							<hr>
							<li><a class="nav-item nav-link" href="{{ url_for('reportes.reporte_tecnico') }}">Reporte Reparaciones por Técnico</a></li>
							<li><a class="nav-item nav-link" href="{{ url_for('reportes.reporte_reparaciones') }}">Reporte Reparaciones por modelo</a></li>
					</ul>
				</li>
				
				<li>
					<a class="menu-horizontal">Comercial</a>
					<ul class="menu-vertical">						

						<li><a class="nav-item nav-link" href="{{ url_for('ordenes_trabajo.add_orden_trabajo', client_id=0, orderBy='estado_id', orderOrder='asc') }}">Registrar Orden de Trabajo</a></li>
						<li><a class="nav-item nav-link"  href="{{ url_for('ordenes_trabajo.all_ordenes_trabajo', orderBy='estado_id', orderOrder='asc') }}">Buscar Orden de Trabajo</a></li>
						<hr>		
						
						<li><a class="nav-item nav-link" href="{{ url_for('marcas.add_marca') }}">Registrar Marca</a></li>
						<li><a class="nav-item nav-link" href="{{ url_for('marcas.all_marcas', orderBy='nombre', orderOrder='asc') }}">Buscar marcas</a></li>

						<li><a class="nav-item nav-link" href="{{ url_for('modelos.add_modelo') }}">Registrar Modelo</a></li>
						<li><a class="nav-item nav-link" href="{{ url_for('modelos.all_modelos', orderBy='nombre', orderOrder='asc') }}">Buscar modelos</a></li>
						
						<hr>
						<li><a class="nav-item nav-link" href="{{ url_for('homologaciones.add_homologacion') }}">Registrar Homologación</a></li>
						<li><a class="nav-item nav-link" href="{{ url_for('homologaciones.all_homologaciones', orderBy='codigo', orderOrder='asc') }}">Buscar Homologaciones</a></li>
						
						
					</ul>
				</li>
											
				
				<li>
					<a class="menu-horizontal">Técnico</a>
					<ul class="menu-vertical">
						<li><a class="nav-item nav-link" href="{{ url_for('equipments.add_equipment', detalle_trabajo_id=0) }}">Registrar Equipo</a></li>
						<li><a class="nav-item nav-link" href="{{ url_for('equipments.all_equipments', orderBy='date_modified', orderOrder='desc') }}">Buscar equipo</a></li>							
						<hr>
						<li><a class="nav-item nav-link" href="{{ url_for('users.user_historias', username=current_user.username, orderBy='date_modified', orderOrder='desc') }}">Mis historias</a></li>
						<hr>
						<li><a class="nav-item nav-link" href="{{ url_for('procedimientos.add_procedimiento') }}">Registrar Procedimiento técnico</a></li>
						<li><a class="nav-item nav-link" href="{{ url_for('procedimientos.all_procedimientos', orderBy='date_modified', orderOrder='desc') }}">Buscar Procedimiento técnico</a></li>
					</ul>
				</li>
				
			{% endif %}
			<!-- SECTOR PARA TODOS LOS USUARIOS -->
			<li>
				<a title="Ir a mi cuenta" ><img class="rounded-circle nav-img" src="{{ url_for('static', filename='profile_pics/' + 	current_user.image_file) }}"></a>
				<ul class="menu-vertical">
					<li><a class="nav-item nav-link" href="{{ url_for('users.account', user_id=current_user.id) }}">Ir a mi cuenta</a></li>
					<li><a class="nav-item nav-link" href="{{ url_for('users.update_password', user_id=current_user.id) }}">Modificar Contraseña</a></li>
					<hr>
					<li><a class="nav-item nav-link" href="{{ url_for('users.logout') }}">Cerrar sesión</a></li>
				</ul>
			</li>				
		{% endif %}
		<li class="text-right">
			<img src="{{ url_for('static', filename='images/theme_dark.png') }}" id="theme_icon" title="Cambiar tema">
		</li>
	</ul>
	

	<script>
		const menuToggle = document.querySelector('.menu-toggle');
		const menuHorizontal = document.querySelector('.menu-horizontal');
		
		menuToggle.addEventListener('click', () => {
		  menuHorizontal.classList.toggle('open');
		});
	  </script>
	


</div>