{% extends "layout.html" %}
{% block content %}
    <article class="media content-section">
        <div class="media-body">
            <legend class="border-bottom mb-4">Órden de reparación</legend>
            <div class="row align-items-center">
                <div class="col-md-3 text-end">
                    <small>Código:</small> 
                </div>
                <div class="col-md-9">
                    <h1 class="aticle-title">{{ orden_reparacion.codigo }}</h1></p>
                </div>
            </div>
            <div class="row align-items-center">
                <div class="col-md-3 text-end">
                    <small>Descripción:</small> 
                </div>
                <div class="col-md-9">
                    <h5 class="article-content">{{ orden_reparacion.content }}</h5>
                </div>
            </div>
            <div class="row align-items-center">
                <div class="col-md-3 text-end">
                    <small>O.R. del equipo:</small> 
                </div>
                <div class="col-md-9">
                    <a class="article-title" href="{{ url_for('equipments.equipment', equipment_id=orden_reparacion.equipo_id) }}">{{ orden_reparacion.equipo }}</a>
                </div>
            </div>
            <div class="row align-items-center">
                <div class="col-md-3 text-end">
                    <small>Técnico asignado:</small> 
                </div>
                <div class="col-md-9">
                    <h5 class="article-content">{{ orden_reparacion.tecnicoAsignado.username }}</h5>
                </div>
            </div>
            <div class="row align-items-center">
                <div class="col-md-3 text-end">
                    <small>Estado O.R.:</small> 
                </div>
                <div class="col-md-9">
                    <h5 class="article-content">{{ orden_reparacion.estado.descripcion }}</h5>
                </div>
            </div>
                <div class="row align-items-center">
                    <div class="col-md-3 text-end">
                        <small>Última modificación:</small> 
                    </div>
                <div class="col-md-9">
                    <small class="article-title">{{ orden_reparacion.date_modified.strftime('%d-%m-%Y') }}</small>
                </div>
            </div>
            <div class="row align-items-center">
                <div class="col-md-3 text-end">
                    <small>Fecha de creación:</small> 
                </div>
                <div class="col-md-9">
                    <small class="article-title">{{ orden_reparacion.date_created.strftime('%d-%m-%Y') }} por el usuario <b>{{ orden_reparacion.author_or.username }}</b></small>
                </div>
            </div>
            <hr 80%>
            {% if current_user.username == orden_reparacion.tecnicoAsignado.username or current_user.role.role_name =="Admin" %}            
                <a class="bi bi-x-circle btn btn-outline-light" title="Cancelar O.R."  href="{{ url_for('ordenes_reparacion.update_estado', orden_reparacion_id=orden_reparacion.id, estado_descripcion ='Anulada') }}"></a>
                <a class="bi bi-check-square btn btn-outline-info" title="Finalizar O.R."  href="{{ url_for('ordenes_reparacion.update_estado', orden_reparacion_id=orden_reparacion.id, estado_descripcion ='Finalizada') }}"></a>
                
            {% endif %}
            <a class="bi bi-pencil-fill btn btn-outline-warning" title="Editar O.R."  href="{{ url_for('ordenes_reparacion.update_orden_reparacion', orden_reparacion_id=orden_reparacion.id) }}"></a>
            <a class="bi bi-trash-fill btn btn-outline-danger" href="#" data-toggle="modal" data-target="#deleteModal" title="Eliminar O.R."></a>
        </div>
    </article>
    <br>    
    
     <!-- Modal -->
    <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="deleteModalLabel">¿Seguro desea eliminar la orden reparacion "{{ orden_reparacion.codigo }}"?</h5>
            <button type="button" class="Cerrar" data-dismiss="modal" aria-label="Cerrar">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
            <form action="{{ url_for('ordenes_reparacion.delete_orden_reparacion', orden_reparacion_id=orden_reparacion.id) }}" method="POST">
              <input class="btn btn-danger" type="submit" value="Borrar">
            </form>
          </div>
        </div>
      </div>
    </div>
{% endblock content %}