{% extends "layout.html" %}
{% block content %}
<h6 class="border-bottom border-secondary mb-4">{{ nombre_reporte }} ({{ datos_sql|length }})</h6>
{% if  datos_sql|length != 0 %}
    <div class="row">
        <div class="col-md-4">        
            <table>
                <thead>
                    <tr>
                        {% set header_row = datos_sql[0] if datos_sql else {} %}
                        {% set keys = header_row._mapping.keys() if header_row else [] %}
                        {% for key in keys %}
                            <th>{{ key }}</th>
                        {% endfor %}
                    </tr>
                </thead>
                <tbody>
                    {% for row in datos_sql %}                    
                            <tr>
                                {% for item in row %}
                                <td>
                                    <article class="media content-section">
                                        <div class="media-body">
                                            {{ item }}
                                        </div>
                                    </article>
                                </td>
                                {% endfor %}
                            </tr>                        
                    {% endfor %}
                </tbody>
            </table>
        </div>    
        <div class="col-md-8">
            <article class="media content-section">
                <div class="media-body" style="background: rgba(255,255,255,0.7)">
                    <canvas id="chart"></canvas>
                </div>
            </article>
            <div>Limitar Rango de fechas</div>                
            <div class="row">                
                <div class="col-md-3">
                    <select  class="form-select form-select-sm" style="width: 90px;", id="anio1" name="anio1" title="Elija un año de fabricación">                        
                        {% set selected_year1 = request.args.get('anio1') %}
                        {% for year in range(2000, current_year + 1) %}
                            <option value="{{ year }}" {% if year|string == selected_year1 %}selected{% endif %}>{{ year }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="col-md-3">
                    <select class="form-select form-select-sm" style="width: 90px;" id="anio2" name="anio2" title="Elija otro año para crear un rango">
                        {% set selected_year2 = request.args.get('anio2') %}                         
                        
                            {% for year in range(2000, current_year + 1) %}
                                {% if selected_year2 %}
                                    <option value="{{ year }}" {% if year|string == selected_year2 %}selected{% endif %}>{{ year }}</option>
                                {% else %}
                                    {% if current_year == year %}
                                        <option value="{{ current_year }}" selected>{{ current_year }}</option>
                                    {% else %}
                                        <option value="{{ year }}">{{ year }}</option>
                                    {% endif %}
                                {% endif %}
                            {% endfor %}
                        
                    </select>
                </div>
                <div class="col-md-6">
                    <button class="btn btn-primary" id="filterAnioButton">Aplicar</button>
                </div>            
            </div>
        </div>
    </div>
{% else %}
    <h2>No hay registros</h2>
    {% if request.args.get('anio1') or request.args.get('anio2') %}
        <button class="btn btn-primary" id="borrarFilterAnioButton">Borrar filtro de resultados</button>
    {% endif %} 
{% endif %}
<!-- import plugin script -->
<script src="static/js/Chart.min.js"></script>

<!-- import filtro de años de reporte -->
<script src="static/js/filter_reporte.js"></script>

<!-- bar chart canvas element -->
<script>
    let labels_json = JSON.parse('{{ labels|safe }}');
    let data_json = JSON.parse('{{ data|safe }}');
    let ctx = document.getElementById('chart');
    
    // invierte los datos del EJE X para mostrar los años de menos a mas
    labels_json.reverse();
    data_json.reverse();

    // Colores para los datos
    let customColors = [
    '#FF677D', // MistyRose    
    '#A2F7F5', // Turquoise
    '#FFD700', // Gold    
    '#9ACD32', // YellowGreen    
    '#6A5ACD', // SlateBlue    
    '#FFA07A', // LightSalmon
    '#20B2AA', // LightSeaGreen
    '#778899', // LightSlateGray
    '#9932CC', // DarkOrchid
    '#CD5C5C', // IndianRed
    '#87CEEB', // SkyBlue
    '#FF8C00', // DarkOrange
    '#48D1CC', // MediumTurquoise
    '#8A2BE2', // BlueViolet
    '#556B2F', // DarkOliveGreen
    ];

    chartInstance = new Chart(ctx, {
        type: '{{ chart_type }}',
        data: {
            labels: labels_json,
            datasets: [{
                backgroundColor: customColors,                
                label: '',
                data: data_json,        
                pointRadius: 6,       
                borderWidth: 1               
            }]
        },
        options: {
            scales: {
                y: {
                    beginAtZero: true
                }
            }
        }
    });
</script>

<script>
    document.getElementById("borrarFilterAnioButton").addEventListener("click", function() {
        // Borra las variables anio1 y anio2 de la barra de navegación
        history.replaceState({}, document.title, location.pathname);
        
        // Recarga la página
        location.reload();
    });
</script>
    
{% endblock content %}
