{% extends "layout.html" %}
{% block content %}
    <h6 class="border-bottom border-secondary mb-4">{{ nombre_reporte }}</h6>
    
            <table>
                <thead>
                    <tr>
                        {% set header_row = lista[0] if lista else {} %}
                        {% set keys = header_row._mapping.keys() if header_row else [] %}
                        {% for key in keys %}
                            <th>{{ key }}</th>
                        {% endfor %}
                    </tr>
                </thead>

                <tbody>
                    {% for row in lista %}
                    
                            <tr>
                                {% for item in row %}
                                <td>
                                    <article class="media content-section">
                                        <div class="media-body">
                                            {{ item }}
                                        </div>
                                    </article>
                                </td>
                                {% endfor %}
                            </tr>
                        
                    {% endfor %}
                </tbody>
            </table>
    
{% endblock content %}