{% extends "layout.html" %}
{% block content %}
		<div class="row">
			<div class="col-md-11">
				<h2>Resultado de la búsqueda "{{ searched }}" </h2>
			</div>
			<div class="col-md-1">
				<button class="btn btn-outline-light bi-arrow-return-left" onclick="goBack()" title="Volver atrás"></button>
			</div>
		</div>
		<div class="container">
    		<div class="content-section">
    			<h5>Clientes:</h5>
    			{% for client in clients %}
    				<a class="article-title" href="{{ url_for('clients.client', client_id=client.id) }}">
    					<h6><li>{{ client.client_name}} : {{ client.business_name }} </li><h6></a>
    					<p>	    					
	    					{% if searched|lower in client.telefono|lower %}
	    						<small class="text-muted">{{ client.telefono }}</small>
	    					{% endif %}
	    					{% if searched|lower in client.email|lower %}
	    						<small class="text-muted">{{ client.email }}</small>
	    					{% endif %}
	    					{% if searched|lower in client.comments|lower %}
	    						<small class="text-muted">{{ client.comments }}</small>
	    					{% endif %}
    					</p>
    			{% endfor%}
    		</div>
    	</div>
    
    	<div class="container">
    		<div class="content-section">
    			<h5>Equipos:</h5>
    			{% for equipment in equipments %}
    				<a class="article-title" href="{{ url_for('equipments.equipment', equipment_id=equipment.id) }}">
    					<h6><li> {{ equipment.title }}</h6></li>
    				</a>
    				{% if searched|lower in equipment.anio|lower %}
    					<small class="text-muted">Año modelo: {{ equipment.anio }}</small>
    				{% endif %}
    				{% if searched|lower in equipment.content|lower %}
    					<small class="text-muted">{{ equipment.content }}</small>
    				{% endif %}
    				<small class="text-muted">Canal/Frec: {{ equipment.canal_frec }}</small>
    				<small><p class="text-muted">Pertenece a: {{ equipment.owner.client_name }}</p></small>
    			{% endfor%}
    		</div>
    	</div>
    	<div class="container">
    		<div class="content-section">
    			<h5>Historias:</h5>
    			{% for historia in historias %}
    				<a class="article-title" href="{{ url_for('historias.historia', historia_id=historia.id) }}"><h6><li>{{ historia.title }}</h6></li>
    				</a>
    				{% if searched|lower in historia.content|lower %}
						<small class="text-muted">{{ historia.content }}</small>
					{% endif %}
					<small class="text-muted"><p>Equipo: {{ historia.equipo_historia.title }} - {{ historia.equipo_historia.content }}</small></p>
    			{% endfor%}
    		</div>
    	</div>
{% endblock content %}