{% extends "layout.html" %}
{% block content %}
		<h2>Resultado de la búsqueda "{{ searched }}" </h2>
		<div class="container">
    		<div class="content-section">
    			<h5>Clientes:</h5>
    			{% for client in clients %}
    				<a class="article-title" href="{{ url_for('clients.client', client_id=client.id) }}">
    					<h6><li>{{ client.client_name}} : {{ client.business_name }} </li><h6></a>
    					<p>	    					
	    					{% if searched|lower in client.contact|lower %}
	    						<small class="text-muted">{{ client.contact }}</small>
	    					{% endif %}
	    					{% if searched|lower in client.comments|lower %}
	    						<small class="text-muted">{{ client.comments }}</small>
	    					{% endif %}
    					</p>
    			{% endfor%}
    		</div>
    	</div>
    
    	<div class="container">
    		<div class="content-section">
    			<h5>Equipos:</h5>
    			{% for equipment in equipments %}
    				<a class="article-title" href="{{ url_for('equipments.equipment', equipment_id=equipment.id) }}">
    					<h6><li> {{ equipment.title }}</h6></li>
    				</a>
    				{% if searched|lower in equipment.anio|lower %}
    					<small class="text-muted">Año modelo: {{ equipment.anio }}</small>
    				{% endif %}
    				{% if searched|lower in equipment.content|lower %}
    					<small class="text-muted">{{ equipment.content }}</small>
    				{% endif %}	    					
    				<small class="text-muted">Pertenece a: {{ equipment.owner.client_name }}</small>
    			{% endfor%}
    		</div>
    	</div>
    	<div class="container">
    		<div class="content-section">
    			<h5>Historias de equipos:</h5>
    			{% for historia in historias %}
    				<a class="article-title" href="{{ url_for('eq_details.eq_detail', eq_detail_id=historia.id) }}"><h6><li>{{ historia.title }}</h6></li>
    				</a>
    				{% if searched|lower in historia.content|lower %}
						<small class="text-muted">{{ historia.content }}</small>
					{% endif %}					
    			{% endfor%}
    		</div>
    	</div>
{% endblock content %}