{% extends "layout.html" %}
{% block content %}
	<div class="row">
		<div class="col-md-11">
			<h2>Resultado de la búsqueda "{{ searched }}" </h2>
		</div>
		<div class="col-md-1">
			<button class="btn btn-outline-light bi-arrow-return-left" onclick="goBack()" title="Volver atrás"></button>
		</div>
	</div>
	{% if clients.count() > 0 %}
		<div class="container">
			<div class="content-section">
				<h5>Clientes:</h5>
				{% for client in clients %}
					<a class="article-title" href="{{ url_for('clients.client', client_id=client.id) }}">
						<h6><li>{{ client.nombre}} {{ client.apellido}} : {{ client.business_name }} </li><h6></a>
						<p>	    					
							{% if searched|lower in client.telefono|lower %}
								<small class="article-title">{{ client.telefono }}</small>
							{% endif %}
							{% if searched|lower in client.email|lower %}
								<small class="article-title">{{ client.email }}</small>
							{% endif %}
							{% if searched|lower in client.comments|lower %}
								<small class="article-title">{{ client.comments }}</small>
							{% endif %}
						</p>
				{% endfor%}
			</div>
		</div>
	{% endif %}
	
	{% if equipments.count() > 0 %}
		<div class="container">
			<div class="content-section">
				<h5>Equipos:</h5>
				{% for equipment in equipments %}
					<a class="article-title" href="{{ url_for('equipments.equipment', equipment_id=equipment.id) }}">
						<h6><li> <b>{{ equipment.modelo.nombre }}</b></h6></li>
					</a>
					{% if searched|lower in equipment.anio|lower %}
						<small class="article-title">Año modelo: {{ equipment.anio }}</small>
					{% endif %}
					{% if searched|lower in equipment.content|lower %}
						<small class="article-title">{{ equipment.content }}</small>
					{% endif %}
					{% if searched|lower in equipment.modelo.descripcion|lower %}
						<small class="article-title">{{ equipment.modelo.descripcion }}</small>
					{% endif %}
					{% if searched|lower in equipment.modelo.marca|lower %}
						<small class="article-title">{{ equipment.modelo.marca }}</small>
					{% endif %}
					<small class="article-title">Nº serie: <b>{{ equipment.detalle_trabajo.orden_trabajo.codigo }}{%if equipment.numSerie %}-{{ equipment.numSerie }}{% endif %}</b></small>
					{%if equipment.frecuencias %}<small class="article-title">Canal/Frec: <b>{{ equipment.frecuencias }}</b></small>{% endif %}
					<small><p class="article-title">Pertenece a: <b>{{ equipment.detalle_trabajo.orden_trabajo.client.nombre }} {{ equipment.detalle_trabajo.orden_trabajo.client.apellido }}</b></p></small>
				{% endfor%}
			</div>
		</div>
	{% endif %}

	{% if historias.count() > 0 %}
		<div class="container">
			<div class="content-section">
				<h5>Historias:</h5>
				{% for historia in historias %}
					<a class="article-title" href="{{ url_for('historias.historia', historia_id=historia.id) }}"><h6><li>{{ historia.title }}</h6></li>
					</a>
					{% if searched|lower in historia.content|lower %}
						<small class="article-title">{{ historia.content }}</small>
					{% endif %}
					<small class="article-title"><p>Equipo: {{ historia.eq_historia.title }} - {{ historia.eq_historia.content }}</small></p>
				{% endfor%}
			</div>
		</div>
	{% endif %}

	{% if procedimientos.count() > 0 %}
		<div class="container">
			<div class="content-section">
				<h5>Procedimientos técnicos:</h5>
				{% for procedimiento in procedimientos %}
					<a class="article-title" href="{{ url_for('procedimientos.procedimiento', procedimiento_id=procedimiento.id) }}"><h6><li>{{ procedimiento.title }}</h6></li>
					</a>
					{% if searched|lower in procedimiento.content|lower %}
						<small class="article-title">{{ procedimiento.content }}</small>
					{% endif %}					
				{% endfor%}
			</div>
		</div>
	{% endif %}

	{% if ordenes_trabajo.count() > 0 %}
		<div class="container">
			<div class="content-section">
				<h5>Órdenes de trabajo:</h5>
				{% for ot in ordenes_trabajo %}
					<a class="article-title" href="{{ url_for('ordenes_trabajo.orden_trabajo', orden_trabajo_id=ot.id) }}"><h6><li>{{ ot.codigo }}</h6></li>
					</a>
					{% if searched|lower in ot.content|lower %}
						<small class="article-title">{{ ot.content }}</small>
					{% endif %}			
				{% endfor%}
			</div>
		</div>
	{% endif %}

	{% if modelos.count() > 0 %}
		<div class="container">
			<div class="content-section">
				<h5>Modelos:</h5>
				{% for modelo in modelos %}
					<a class="article-title" href="{{ url_for('modelos.modelo', modelo_id=modelo.id) }}"><h6><li>{{ modelo.nombre }}</h6></li>
					</a>
					{% if searched|lower in modelo.descripcion|lower %}
						<small class="article-title">{{ modelo.descripcion }}</small>
					{% endif %}					
				{% endfor%}
			</div>
		</div>
	{% endif %}

{% endblock content %}
