{% extends "layout.html" %}
{% block content %}
    <h6 class="border-bottom border-secondary mb-4">Historias de {{ user.username }} ({{ lista.count() }})</h6>

    {% for historia in lista %}
        <article class="media content-section-list">
            <div class="row">
                <div class="col-md-10" title="tipo de historia">
                    <a class="article-title" href="{{ url_for('historias.historia', historia_id=historia.id) }}"><h2>{{ historia.title }}</h2>
                	<h5 class="article-content">{{ historia.content }}</h5>
                    </a>
                    <small class="article-title">Equipo: <b>{{ historia.eq_historia.modelo_eq.nombre }}</b> de <b>{{ historia.eq_historia.owner.business_name }}</b></small>
                </div>
                <div class="col-md-2 text-end" title="tipo de historia">
                    <div class="d-grid">
                        {% if historia.tipologia.tipo == 'Mensaje' %}
                            <a class="btn btn-dark btn-block btn-sm" href="{{ url_for('equipments.equipment',  equipment_id=historia.equipo_id, tipologia_id=historia.tipologia.id) }}">{{ historia.tipologia.tipo }}</a>
                        {% elif historia.tipologia.tipo == 'Reparación' %}
                            <a class="btn btn-info btn-block btn-sm" href="{{ url_for('equipments.equipment',  equipment_id=historia.equipo_id, tipologia_id=historia.tipologia.id) }}">{{ historia.tipologia.tipo }}</a>
                        {% elif historia.tipologia.tipo == 'Modificación' %}
                            <a class="btn btn-light btn-block btn-sm" href="{{ url_for('equipments.equipment',  equipment_id=historia.equipo_id, tipologia_id=historia.tipologia.id) }}">{{ historia.tipologia.tipo }}</a>
                        {% else %}
                            <a class="btn btn-light btn-block btn-sm" href="{{ url_for('equipments.equipment',  equipment_id=historia.equipo_id, tipologia_id=historia.tipologia.id) }}">{{ historia.tipologia.tipo }}</a>
                        {% endif %}
                    </div>
                </div>
            </div>
        </article>

    {% endfor %}
    
{% endblock content %}