{% extends "layout.html" %}
{% block content %}
    <h6 class="border-bottom border-secondary mb-4">Historias de {{ user.username }} ({{ lista.count() }})</h6>

    {% for historia in lista %}
        <article class="media content-section-list">
            <div class="row">
                <div class="col-md-10" title="tipo de historia">
                    <a class="article-title" href="{{ url_for('historias.historia', historia_id=historia.id) }}"><h2>{{ historia.title }}</h2>
                	<h5 class="article-content">{{ historia.content }}</h5>
                    </a>
                    <small class="article-title">Equipo: <b>{{ historia.eq_historia.modelo }}</b> de <b>{{ historia.eq_historia.detalle_trabajo.orden_trabajo.client }}</b></small>
                </div>
                <div class="col-md-2 text-end" title="tipo de historia">
                    <div class="d-grid">
                        <a class="btn btn-{% if historia.tipo_historia.tipo == 'Mensaje' %}light
                                          {% elif historia.tipo_historia.tipo == 'Reparación' %}warning
                                          {% elif historia.tipo_historia.tipo == 'Modificación' %}info
                                          {% elif historia.tipo_historia.tipo == 'Falla' %}danger
                                          {% endif %} btn-block btn-sm"
                                          href="{{ url_for('equipments.equipment',  equipment_id=historia.equipo_id, tipo_historia_id=historia.tipo_historia.id) }}"
                                          title="Ir a equipo '{{ historia.eq_historia.modelo }}'">
                                          {{ historia.tipo_historia.tipo }}
                        </a>
                    </div>
                </div>
            </div>
        </article>

    {% endfor %}
    
{% endblock content %}
